alert-header {
    ion-navbar.toolbar {
        height: 52px;
        position: relative;
        background: #19456d;
        font-size: 2rem;
        color: white;
        text-align: center;
        padding: 25px 0px;

        .toolbar-background {
            display: none;
        }

        .close {
            position: absolute;
            top: 10px;
            right: 15px;
            font-size: 2.5rem;
        }
    }
}
