page-membership {
    .scroll-content {
        overflow: hidden;
        background: #f7f7f7;
    }
    .side-tab {
        .item {
            ion-icon::before {
                font-size: 3rem;
            }

            ion-icon {
                margin-bottom: 12.5px;
            }
        }
    }

    .mem-main{
        background: #f7f7f7;
        margin: 40px 20px;
        ion-row {
            margin:20px 0px 20px 0px;
        }

        .search-bar {
            margin: 0px 0px 20px 0px;

            .search-input {
                padding: 10px 10px 10px 20px;
                font-weight: bold;
                border: 1px solid #d1d3d4;
            }

            .search-input::placeholder{
                color: #19456c;
            }

            .search-btn {
                color: white;
                background: #fd6366;
                border : 1px solid #fd6366;
                padding: 10px 20px 10px 20px;
                margin: 0px 0px;
            }
        }

        .center-th {
            text-align: center;

            div {
                padding-right: 40px;
                display: flex;
                flex-direction: row;

                div {
                    padding: 0;
                }
            }
        }

        .center-tr {
            text-align: left;
            
            div {
                padding-left: 20px;

                ion-icon{
                    transform: translateY(-3px);
                }

                ion-icon::before {
                    font-size: 2.1rem;
                }
            }
        }

        .mileage-btns, .stamp-btns {
            display: flex;
            float: right;
            margin: 20px 0px ;
            background: white;
            color: #fd6366;
            border: 1px solid #d1d3d4;
            padding: 0.8rem 1.2rem;

            div {
                margin-top: auto;
                margin-bottom: auto;
            }
            ion-icon {
                margin-right: 10px;
            }
        }

    }


    .lets-save {
        position: absolute;
        background: rgba(black,0.5);
        width: 100%;
        height: 100%;
        z-index: 3;

        .left {
            width: 27.5%;
        }

        .center {
            position: relative;
            width: 45%;
            height: 90%;
            z-index: 999999;

            ion-header {
                display: flex;
                position: relative;
                align-items: center;
                justify-content: center;
                height: 52px;
                background: #19456c;
                border-radius: 15px 15px 0px 0px;

                div {
                    display: table;
                    margin-left: auto;
                    margin-right: auto;
                    color: white;
                    font-size: 2.2rem;
                }

                ion-icon {
                    position: absolute;
                    top: 10px;
                    right: 15px;
                    font-size: 2.5rem;
                }

                ion-icon::before {
                    font-size: 1.4rem;
                    color: white;
                }
            }

            .save-container {
                height: 90%;
                .top-background {
                    display: none;
                    background: #19456c;
                    border-top: 1px solid #19456c;
                    
                    @media (min-height: 600px) {
                        height: 30%;
                        display: flex;
                    }
                    .cardImage{
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            height: 60%;
                            width: auto;
                            margin-bottom: 2rem;
                            border-radius: 10px;
                            box-shadow: 3px 5px 5px #000;
                        }
                    }
                }

                .log-background {
                    height: 100%;
                    padding-left: 10%;
                    padding-right: 10%;
                    padding-top: 2.5rem;
                    background: #f7f7f7;
                    position: relative;
                    @media (min-height: 600px) {
                        height: 70%;
                        padding-top: 0;
                    }
                }

                .phone-num {
                    border-left: 2px solid #d1d3d4;
                    border-right: 1px solid #d1d3d4;
                }

                .point {
                    border-left: 1px solid #d1d3d4;
                    border-right: 2px solid #d1d3d4;
                }

                .content-th {
                    background: #5f7d98;
                    text-align: center;
                    color: white;
                    width: 100%;
                    border: 1px solid #5f7d98;
                    border-radius: 15px 15px 0px 0px;
                    display: table;
                    margin-left: auto;
                    margin-right: auto;

                    @media (min-height: 600px) {
                        transform: translateY(-2rem);
                    }

                    ion-row {
                        margin: 1rem 0px;

                        ion-col {
                            display: flex;
                            flex-direction: row;
                            height: 20px;    
                            justify-content: center;
                            font-size: 1.2rem;

                            div {
                                height: auto;
                                width: auto;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                
                                img {
                                    box-shadow: none;
                                    height: 100%;
                                    width: auto;
                                    margin-left: 10px;
                                }

                                ion-icon {
                                    margin-left: 10px;
                                }

                                ion-icon::before {
                                    color: #fd6366;
                                    font-size: 2.3rem;
                                }
                                &>div{
                                    margin: 0px 10px;
                                }
                            }
                        }
                    }
                }

                .content-tr {
                    background: gainsboro;
                    width: 100%;
                    text-align: center;
                    display: table;
                    color: #19456c;
                    overflow-x: hidden; 
                    margin-bottom: 1rem;

                    @media (min-height: 600px) {
                        transform: translateY(-2rem);
                        margin-bottom: -1rem;
                    }

                    ion-row{
                        margin: 1rem 0px;
                    }
                }

                .input-title{
                    margin-bottom: 5px;
                    font-size: 1.4rem;
                    display: flex;
                    align-items: center;
                    .cost-text{
                        width: 100%;
                        display: table;
                        color: #a7a9ac;
                    }

                    .cash-or-charge {
                        display: flex;
                        flex-direction: row;
                        text-align: center;
                        justify-content: flex-end;
                        border-top: 1px solid #a7a9ac;
    
                        &>div {
    
                            div {
                                border: 1px solid #cbcdce;
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                padding: 0.5rem;
                                
                                ion-icon, ion-icon::before {
                                    font-size: 1.6rem;
                                }
    
                                div {
                                    border: none;
                                }
                            }
                        }
    
                        .byCard, .byCash {
                            margin-left: 10px;
                            background: #f7f7f7;
                            color: #a7a9ac;
                        }
    
                        .byCash-clicked, .byCard-clicked {
                            margin-left: 10px;
                            background: #fd6366;
                            color: white;
                        }
                    }
                }

                .input-CostSave {                    
                    .input-box {
                        width: 100%;
                        background: white;
                        border: 1px solid #cbcdce;
                        display: table;
                        text-align: center;
                        line-height: 3rem;
                        
                        numpad-input div, input{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    
                    .save-ratio {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        text-align: center;
                        line-height: 3rem;
                        
                        div {
                            // background: #e6e6e6;
                            border: 1px solid #cbcdce;
                            flex: unset; //원래 있었어
                            width: 8rem;
                            height: 100%;
                            
                            numpad-input2 div, input{                        
                                border: none;
                                height: 100%;
                                height: 100%;
                            }
                            numpad-input div, input{                        
                                border: none;
                                height: 100%;
                                height: 100%;
                            }
                        }

                        .plus-minus {
                            width: 3rem;
                            background: white;
                            flex: unset;
                            font-size: 2.5rem;
                            color: #5e7d99; 
                        }
                    }
                }


                .total {
                    font-size: 1.3rem;
                    display: table;
                    margin: 1.5rem auto;
                    padding-top: 1.5rem;
                    border-top: 1px solid #a7a9ac;
                    width: 100%;

                    .first {
                        text-align: right;
                        color: #fd6366;
                        margin-bottom: 10px;
                    }

                    .second {
                        text-align: right;
                        color: #19456c;
                    }

                }
                
                .okay {    
                    font-size: 1.5rem;
                    color: white;
                    background: #fd6366;
                    padding: 2rem 6rem;
                    text-align: center;
                    border-radius: 15px;
                    display: table;
                    margin: 2rem auto 0px auto;
                }
            }
        }

        .right {
            z-index: 999999;
            numpad, numpad2 {
                .container {
                    width: 25rem;
                    margin-left: 20px;
                    button{
                        font-size: 6rem;
                        padding: 3rem 0px;
                        &>ion-icon::before{
                            font-size: 6rem !important;
                        }
                    }
                }
            }
        }

        .rightest {
            width: 7.5%;
        }

    }

    .review-main {
        background: #f7f7f7;
        margin: 20px 20px 0px 20px;
        color: #58595b;

        .review-total {
            display: flex;
            flex-direction: row;
            color: #19456c;
            margin-left: 5px;

            div {
                margin-right: 2rem;
            }
        }

        .review-box {
            height: 80%; 
            background: white;   
            margin-top: 20px;    
            box-shadow: 7px 7px 7px #cbcdce;
            padding: 1.5rem 3rem;

            .seeMoreRow {
                border-bottom: none;
                height: auto;
            }

            ion-row {
                height: 100px;
                border-bottom: 3px solid #f7f7f7;
                display: flex;
                flex-direction: row;

                .div1 {
                    width: 10% !important;
                    padding-right: 10px;
                    padding-left: 10px;

                    div {
                        width: 100%;
                        height: auto;
                        border: 2px solid #19456c;
                        border-radius: 25px;
                        line-height: 60%;
                        margin-top: 20px;

                        img {
                            width: 100%;
                            height: auto;
                            border-radius: 25px;
                        }
                    }
                }

                .div2 {
                    width: 20% !important;
                    padding-right: 20px;
                    text-align: center;

                    div {
                        height: 20px;
                        line-height: 20px;
                        margin: 25px 0px 25px 0px;
                    }

                    .score {
                        border-right: 2px solid #f7f7f7;

                        .stars {

                            img {
                                width: 2.5rem;
                            }
                        }
                    }

                    .name {
                        color: #19456c;
                    }
                }

                .div3 {
                    width: 60% !important;

                    div {
                        display: flex;
                        flex-direction: row;
                        position: relative;

                        div {
                            height: 20px;
                            line-height: 20px;
                            margin: 25px 20px 25px 0px;                   
                        }

                        ion-icon {
                            margin: 23px 7.5px 0px 0px;
                        }

                        ion-icon::before {
                            font-size: 1.7rem;
                        }

                        .regDttm {
                            position: absolute;
                            right: 0px;
                        }
                    }

                    .reviewTxt {
                        width: 100%;
                        display: block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .seeMoreTxt {
                        height: auto;
                        margin-bottom: 30px;
                    }

                    img {
                        width: 40%;
                    }
                }

                .div4 {
                    width: 10% !important;
                    color: #19456c;

                    div {
                        text-align: center;
                        margin-top: 25px;
                        height: 100%;
                    }
                }
            }

            .input-comment {
                width: 70%;
                display: flex;
                margin-left: auto;
                margin-right: auto;
                margin-top: 30px;

                input {
                    width: 100%;
                    border: 0;
                    outline: 0;
                    padding: 20px 20px 20px 30px;
                    background: #f1f2f2;
                    border-radius: 15px;
                    margin-bottom: 25px;
                    margin-left: 40px;
                }

                ion-icon {
                    color: #fd6366;
                    margin-left: 20px;
                    transform: translateY(10px);
                }

                ion-icon::before {
                    font-size: 2.5rem;
                }
            }

            .comment {
                width: 70%;
                display: table;
                margin-left: auto;
                margin-right: auto;
                
                ion-row {
                    border-bottom: none;
                    border-top: 3px solid #f7f7f7;
                    height: 105px;

                    .div5 {
                        width: 7%;

                        ion-icon {
                            color: #19456c;
                            margin: 20px 0px 0px 25px;
                        }

                        ion-icon::before {
                            font-size: 1.2rem;
                            // @media(max-width: 1366px) {
                            //     font-size: 1.1rem;
                            // }
                        }
                    }

                    .div6 {
                        width: 93%;
                        
                        .comment-info {
                            display: flex;
                            flex-direction: row;

                            div {
                                color: #19456c;
                                height: 15px;
                                line-height: 15px;
                                margin: 25px 20px 25px 0px;
                                
                            }
                        }
                    }
                }
            }
        }
    }

    .push-main {
        background: #f7f7f7;
        display: flex;
        flex-direction: row;
        justify-content: center;
        //text-align: center;

        .left {
            flex: 1;
            margin: 30px 0px 30px 30px;
            border-radius: 20px 20px 0px 0px;
            background: white;
            box-shadow: 7px 7px 7px #cbcdce;
            // padding: 50px; //*
            padding: 30px;
            position: relative;
            font-size: 1.4rem;

            ion-row {
                width: 100%;
                margin-bottom: 5px;
                position: relative;
                pos-editor{
                    width:100%;
                    height: 100%;
                    .editorForm{
                        border: 1px solid #d1d3d4;
                        height: 100%;
                    }
                    .ql-editor {
                        font-size: 1.5vw;
                        height: 100%;
                    }
                }
                .pushTitle {
                    width: 80%;
                    padding: 5px;
                    border: 0;
                    outline: 0; // 요기는 푸시 제목 입력하는 곳
                    border-bottom: 2px solid #d1d3d4;
                    margin-bottom: 10px;
                }

                // div {
                //     height: 42px;
                //     width: 140px;
                //     color: #fd6366;
                //     position: absolute;
                //     right: 0px;
                //     border: 1px solid #d1d3d4;
                //     line-height: 40px;
                //     text-align: center;
                //     display: flex;
                //     flex-direction: row;
                //     padding-left: 12px;
                //     @media(max-width: 1366px) {
                //         height: 32px;
                //         width: 100px;
                //         line-height: 25px;
                //         padding-left: 10px;
                //     }

                //     ion-icon {
                //         line-height: 40px;
                //         margin-right: 3px;
                //         @media(max-width: 1366px) {
                //             line-height: 30px;
                //         }
                //     }

                //     ion-icon::before {
                //         @media(max-width: 1366px) {
                //             font-size: 2.2rem;
                //         }
                //     }

                //     div {
                //         position: relative;
                //         border: none;
                //         @media(max-width: 1366px) {
                //             padding-left: 5px;
                //             line-height: 30px;
                //         }
                //     }
                // }

                textarea {
                    position: absolute;
                    top: 50px;
                    width: 100%;
                    // height: 460px; //*
                    height: 430px;
                    padding: 25px;
                    border: 1px solid #d1d3d4;
                    background: #f1f2f2;
                }
            }

            .pushContent{
                // height: 80%;
            }

            .last-line {
                margin-top: 5vh;

                span {
                    color: #19456c;
                    margin-right: 20px;
                }

                select {
                    text-align: center;
                    padding: 1rem 2rem;
                    font-size: 1.4rem;
                    padding-left: 20px;
                    border: 1px solid #d1d3d4;
                    color: #58595b;
                }

                ion-col {
                    width: 100%;
                    position: relative;

                    .letsSend {
                        padding: 1rem 4rem;
                        background: #fd6366;
                        color: white;
                        border-radius: 20px;
                        position: absolute;
                        right: 0px;
                        font-size: 1.6rem;
                        border: none;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
        
        .right {
            flex: 1.3;
            margin: 30px;
            border-radius: 20px 20px 0px 0px;
            background: white;
            box-shadow: 7px 7px 7px #cbcdce;
            font-size: 1.4rem;

            .first-line {
                width: 100%;
                display: flex;
                flex-direction: row;
                padding: 3rem !important;

                .calendar {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding: .6rem 1.2rem;
                    border: 1px solid #cbcdce;
                    border-radius: 5px;
                    color: #fd6366;
                    font-size: 1.4rem;
                    ion-icon{
                        margin-left: 1rem;
                        &::before{
                            font-size: 1em;
                        }
                    }
                }
                

                span {
                    color: #d1d3d4;
                    margin: 0px 10px 0px 10px;
                    align-self: center;
                }

                input {
                    flex:1;
                    width: 120px;
                    margin-left: 20px;
                    border: 0;
                    outline: 0;
                    border-bottom: 2px solid #d1d3d4;
                    padding: 5px;
                }

                .search-icon {
                    border-bottom: 2px solid #d1d3d4;
                    padding: 5px 10px 0px 5px;
                    color: #fd6366;
                    ion-icon {
                        &::before{
                            font-size: 2.3rem;
                        }
                    }
                }
            }

            .pushList-box {

                pos-table{
                    .divide-container{
                        margin:0px;
                        box-shadow: none !important;
                        height: 100%;
                    }

                }
            }
        }

    }

    .scroll-content {
        position: relative;
        height: 100%;
    }

    .test {
        height: 20px;
        width: 50px;
        background: black;
        color:white;
    }

    .more-load{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size : 1.5rem;
        border: 1px #e9e9e9 solid;
        border-radius: 10px;
        padding:5px;
        margin: 15px 0;
        width: 8rem;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        color: #58595B;
        ion-icon{
            font-size: 2rem;
            margin-right: 10px;
        }
    }

}
