<!-- <mileage *ngIf="openMileageComponent == true"></mileage> -->

<ion-content>
  <ion-row>
    <ion-col col-1 class="side-tab">
      <div class="item" (click)="clickSideTab(1)" [ngClass]="{'selected': whichtab == 1}">
        <ion-icon name="cp-membership"></ion-icon>
        <div>멤버십 관리</div>
      </div>
      <div class="item" (click)="clickSideTab(2)" [ngClass]="{'selected': whichtab == 2}">
        <ion-icon name="cp-review"></ion-icon>
        리뷰 관리
      </div>
      <div class="item" (click)="clickSideTab(3)" [ngClass]="{'selected': whichtab == 3}"> 
        <ion-icon name="cp-set-push"></ion-icon>
        푸쉬 관리
      </div>
    </ion-col>
    <ion-col class="mem-main" *ngIf="whichtab == 1">
      <div class="search-bar">
        <input class="search-input" [(ngModel)]="search" type="" name="" size="50" placeholder=" 성함 또는 번호 입력"/> <span class="search-btn" (click)="getUser()">조회</span>
      </div>
      <pos-table3 *ngIf="loginSession.getInfo().mileageStampOpt != 1" #table [header]="['고객명','연락처','포항포인트','스탬프', '상세보기']" [data]="userList" [keys]="['userName','tel','totalPoint','stampCnt']"
      [total]="total"  [isMileage]="false" (OnPageChanged)="OnPageChanged($event)" (OnSelectOrder)="selectUser($event)" (OnButtonClicked)="showMileageLog($event)" ></pos-table3>
      <pos-table3 *ngIf="loginSession.getInfo().mileageStampOpt == 1" #table [header]="['고객명','연락처','포항포인트','마일리지', '상세보기']" [data]="userList" [keys]="['userName','tel','totalPoint','mileage']"
      [total]="total"  [isMileage]="true" (OnPageChanged)="OnPageChanged($event)" (OnSelectOrder)="selectUser($event)" (OnButtonClicked)="showMileageLog($event)" ></pos-table3>
      <div class="mileage-btns" *ngIf="loginSession.getInfo().mileageStampOpt == 1" (click)="saveMileage(1)">
        <ion-icon name="cp-mileage"></ion-icon>
        <div>마일리지 적립</div>
      </div>
      <div class="stamp-btns" *ngIf="loginSession.getInfo().mileageStampOpt != 1" (click)="saveMileage(1)">
        <ion-icon name="cp-mileage"></ion-icon>
        <div>스탬프 적립</div>
      </div>
    </ion-col>

    <ion-col class="review-main" *ngIf="whichtab == 2">
      <ion-row class="review-total">
        <div>총리뷰 : {{reviewCnt}}</div>
        <div>평점 : {{averagePoint}} / 5</div>
      </ion-row>
      <ion-scroll class="review-box" *ngIf="listOrDetail == true" scrollY="true">
        <ion-row *ngFor="let item of reviewList; let i=index">
          <div class="div1">
            <div>
              <img [src]="'assets/images/store_setting/female.png'">
            </div>
          </div>
          <div class="div2">
            <div class="score">
              <span class="stars" *ngFor="let star of drawStar(item.estimationPoint)">
                <img [src]="star">
              </span>
            </div>
            <div class="name">{{item.userName}}</div>
          </div>
          <div class="div3">
            <div>
              <ion-icon name="cp-good"></ion-icon>
              <div>{{item.likeCNT}}</div>
              <ion-icon name="cp-comment"></ion-icon>
              <div>{{item.commentCNT}}</div>
              <div class="regDttm">{{item.modifiedDate}}</div>
            </div>
            <div class="reviewTxt">{{item.reviewTxt}}</div>
          </div>
          <div class="div4">
            <div (click)="seeMoreReview(item, i)">자세히 보기</div>
          </div>
        </ion-row>
        <div class="more-load" *ngIf='total - reviewList.length > 0' (click)="OnPageChanged()">
            <ion-icon name="add"></ion-icon> 더보기 </div>
        </ion-scroll>
      <ion-scroll class="review-box" *ngIf="listOrDetail == false" scrollY="true">
        <ion-row class="seeMoreRow">
          <div class="div1">
            <div>
              <img [src]="'assets/images/store_setting/female.png'">
            </div>
          </div>
          <div class="div2">
            <div class="score">
              <span class="stars" *ngFor="let star of drawStar(selectedReview.estimationPoint)">
                <img [src]="star">
              </span>
            </div>
            <div class="name">{{selectedReview.userName}}</div> 
          </div> 
          <div class="div3">
            <div>
              <ion-icon name="cp-good"></ion-icon>
              <div>{{selectedReview.likeCNT}}</div>
              <ion-icon name="cp-comment"></ion-icon>
              <div>{{selectedReview.commentCNT}}</div>
              <div class="regDttm">{{selectedReview.modifiedDate}}</div>
            </div>
            <div class="seeMoreTxt">{{selectedReview.reviewTxt}}</div>
            <img [src]="selectedReview.thumbnailURL">
          </div>
          <div class="div4">
            <div (click)="listOrDetail = true">목록 보기</div>
          </div>
        </ion-row>
        <div class="input-comment">
          <input placeholder="댓글을 입력하세요." [(ngModel)]="commentTxt"/>
          <ion-icon name="cp-check" (click)="writeComment()"></ion-icon>
        </div>
        <div class="comment">
          <ion-row *ngFor="let item of commentList">
            <div class="div5">
              <ion-icon name="cp-curved-arrow"></ion-icon>
            </div>
            <div class="div6">
              <div class="comment-info">
                <div>{{item.displayName}}</div>
                <div>{{item.publishDate}}</div>
              </div>
              <div class="comment-content">{{item.commentTxt}}</div>
            </div>
          </ion-row>
          <div class="more-load" *ngIf='commenTotal - commentList.length > 0' (click)="commentPageChange()">
              <ion-icon name="add"></ion-icon> 더보기 </div>
        </div>
      </ion-scroll>
    </ion-col>


    <ion-col class="push-main"  *ngIf="whichtab == 3">
      <div class="left">
        <ion-row>
          <input class="pushTitle" type="" [(ngModel)]="pushTitle" placeholder="푸시 제목"/>
        </ion-row>
        <ion-row class="pushContent">
            <pos-editor [clear]="pushSendStatus" [location]="'push'" [buttonClicked]="pushSendButtun" (OnButtonClicked)="getContentsData($event)">
              </pos-editor>
        </ion-row>
        <ion-row class="last-line">
          <ion-col>
            <span>발송대상</span>
            <select id="toWhom" name="toWhom" [(ngModel)]="sendType">        
              <option value=2>단골 고객</option>
              <option value=1>전체 고객</option>
            </select>            
          </ion-col>
          <ion-col>
            <div class="letsSend" (click)="sendPush()">보내기</div>
          </ion-col>
        </ion-row>
      </div>
      <div class="right">
        <ion-row class="first-line">
          <div class="calendar" (click)="clickDatePicker(1)">
            {{startDate|date:'yyyy.MM.dd'}}
            <ion-icon name="cp-select-date"></ion-icon>
          </div>
          <span>~</span>
          <div class="calendar" (click)="clickDatePicker(2)">
            {{endDate|date:'yyyy.MM.dd'}}
            <ion-icon name="cp-select-date"></ion-icon>
          </div>
          <input type="" [(ngModel)]="search" placeholder="제목 또는 내용 검색"/>
          <div class="search-icon">
            <ion-icon name="cp-search" (click)="getPushList()"></ion-icon>
          </div>
        </ion-row>
        <div class="pushList-box">
            <pos-table #table [header]="['발신일시','제목','대상인원','읽은수','상세보기']" [data]="pushList"  [total]="total" [keys]="['sendDttm','pushTitle','receive','readCnt']"
            (OnPageChanged)="OnPageChanged()" [options]="{optionalBtn: true, btnContent: statBtn}" [blank]=false (OnButtonClicked)="pushDetailModal($event)" [won]="[false,false,false,false]" ></pos-table>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="saveOrNot == true" class="lets-save">
    <div class="backdrop"></div>
    <div class="left">
    </div>
    <div class="center">
      <ion-header>
        <div>{{pageTitle}}</div>
        <ion-icon name="cp-delete-category" (click)="saveMileage(false)"></ion-icon>
      </ion-header>
      <div class="save-container">
        <!--<ion-content padding>-->
          <ion-row class="top-background">
            <ion-col class="cardImage">
              <img src="assets/images/pay/mileage.png" *ngIf="storeInfo.mileageStampOpt==1">
              <img src="assets/images/pay/stamp.png" *ngIf="storeInfo.mileageStampOpt==2">
            </ion-col>
          </ion-row>
          <div class="log-background">
            <div class="content-th">
              <ion-row>
                <ion-col>
                  <div>고객명</div>
                </ion-col>
                <ion-col class="phone-num">
                  <div>연락처</div>
                </ion-col>
                <ion-col class="point">
                  <div>
                    <img src="assets/images/pay/point.png">
                    <div>포항포인트</div>
                  </div>
                </ion-col>
                <ion-col *ngIf="pageTitle == '마일리지 적립'">
                  <div>
                    <ion-icon name="cp-mileage"></ion-icon>
                    <div>마일리지</div>
                  </div>
                </ion-col>
                <ion-col *ngIf="pageTitle == '스탬프 적립'">
                  <div>
                    <ion-icon name="cp-mileage"></ion-icon>
                    <div>스탬프</div>
                  </div>
                </ion-col>
              </ion-row>  
            </div>
            <div class="content-tr">
              <ion-row>
                <ion-col>
                  {{selectedUser.userName}}
                </ion-col>
                <ion-col>
                  {{selectedUser.tel}}
                </ion-col>
                <ion-col>
                  {{selectedUser.totalPoint}}
                </ion-col>
                <ion-col>
                  <span *ngIf="pageTitle == '마일리지 적립'">{{selectedUser.mileage | number}}</span>
                  <span *ngIf="pageTitle == '스탬프 적립'">{{selectedUser.stampCnt}}</span>
                </ion-col>
              </ion-row>
            </div>
            
            <ion-row class="input-title">
              <ion-col col-7>
                <div class="cost-text">금액 입력</div>
              </ion-col>
              <ion-col>
                <div class="cash-or-charge" *ngIf="pageTitle == '마일리지 적립'">
                  <div class="byCard" (click)="cashOrCharge(1)" [ngClass]="{'byCard-clicked': which == 1}" > 
                    <div>
                      <ion-icon name="cp-card"></ion-icon>
                      <div>카드</div>
                    </div>
                  </div>
                  <div class="byCash" (click)="cashOrCharge(2)" [ngClass]="{'byCash-clicked': which == 2}"> 
                    <div>
                      <ion-icon name="cp-cash"></ion-icon>
                      <div>현금</div>
                    </div>
                  </div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="input-CostSave">
              <ion-col col-7 class="inputCost">
                <div class="input-box">
                  <numpad-input #inputAmt [(value)]="cost" (valueChange)="costChange($event)" (click)="whichNumpad(1)"></numpad-input>
                </div>
              </ion-col>
              <ion-col>
                <div class="save-ratio">
                  <div class="plus-minus" (click)="pm('-')"> - </div>
                  <div *ngIf="pageTitle == '마일리지 적립'">
                    <numpad-input2 [(value)]="saveRatio" (valueChange)="valueChange($event)" (click)="whichNumpad(2)"></numpad-input2>
                  </div>
                  <div *ngIf="pageTitle == '스탬프 적립'">
                    <numpad-input [(value)]="stampCnt" (valueChange)="valueChange($event)" (click)="whichNumpad(2)"></numpad-input>
                  </div>
                  <div class="plus-minus" (click)="pm('+')">+</div>
                </div>
              </ion-col>
            </ion-row>
            <div class="total">
              <ion-row>
                <ion-col col-10>
                  <div class="first" *ngIf="pageTitle == '마일리지 적립'">
                    적립 마일리지 :
                  </div>
                  <div class="first" *ngIf="pageTitle == '스탬프 적립'">
                    적립 스탬프 :
                  </div>
                  <div class="second" *ngIf="pageTitle == '마일리지 적립'">
                    적립 후 마일리지 :
                  </div>
                  <div class="second" *ngIf="pageTitle == '스탬프 적립'">
                    적립 후 스탬프 :
                  </div>
                </ion-col>
                <ion-col col-6 *ngIf="pageTitle == '마일리지 적립'">
                  <div class="first">
                    {{beforemileage}}
                  </div>
                  <div class="second">
                    {{aftermileage}}
                  </div>
                </ion-col>
                <ion-col col-6 *ngIf="pageTitle == '스탬프 적립'">
                  <div class="first">
                    {{beforeStamp}}
                  </div>
                  <div class="second">
                    {{afterStamp}}
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <div class="okay" *ngIf="pageTitle == '마일리지 적립'" (click)="saveComplete()">확인</div>
            <div class="okay" *ngIf="pageTitle == '스탬프 적립'" (click)="saveComplete()">확인</div>
          </div>
        <!--</ion-content>    -->
      </div>
    </div>
    <div class="right" *ngIf="selectedNumpad==1 || pageTitle == '스탬프 적립'">
      <numpad></numpad>
    </div>
    <div class="right" *ngIf="selectedNumpad==2 && pageTitle == '마일리지 적립'">
      <numpad2></numpad2>
    </div>
    <div class="rightest">
    </div>
  </ion-row>
</ion-content>