<div class="divide-container">
    <div class="divide-list">
        <div class="table-container">
            <ion-grid class="table-header">
                <ion-row>
                    <ion-col col-1>
                    </ion-col>
                    <ion-col col-3>
                        {{header[0]}}
                    </ion-col>
                    <ion-col class="center">
                        {{header[1]}}
                    </ion-col>
                    <ion-col col-3 *ngIf="header.length >=3">
                        {{header[2]}}
                    </ion-col>
                    <!-- <ion-col class="center" *ngFor="let col of header ;let idx = index;" >
                        {{col}}
                    </ion-col> -->
                </ion-row>
            </ion-grid>
            <ion-grid class="table-body">
                <ion-scroll scrollY="true">
                    <ion-row *ngFor="let pData of data;let idx = index; " (click)="read(idx)">
                        <ion-col col-1>
                        </ion-col>
                        <ion-col col-3>
                            <div class="menu-name">
                                {{pData[keys[0]]}}
                            </div>
                        </ion-col>
                        <ion-col>
                            <div class="question" *ngIf="header.length < 3">Q</div>
                            <div class="menu-name">
                                {{pData[keys[1]]}}
                            </div>
                        </ion-col>
                        <ion-col col-3 *ngIf="header.length >=3">
                            <div class="menu-name">
                                {{pData[keys[2]]}}
                            </div>
                        </ion-col>
                        <div class="detail-content" *ngIf="selectedIndex == idx" [innerHTML]="pData[listDetail]"></div>
                        <!-- [innerHTML]="nl2br(pData[listDetail])" -->
                    </ion-row>
                    <div class="more-load" *ngIf='total - data.length > 0' (click)="doInfinite()">
                        <ion-icon name="add"></ion-icon> 더보기 </div>
                </ion-scroll>
            </ion-grid>
        </div>
    </div>
</div>