pos-table2 {
    .divide-container {
        margin-top:10px;
        height: 70vh;
        max-height: 70vh;
        flex-basis: 43%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: white;
        box-shadow: 5px 3px 5px 2px rgba(214, 214, 214, 0.5) !important;
        @media (max-width: 1366px) {
            height: 65vh;
            }

        .divide-list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1.5rem 3rem;
            flex-grow: 1;

            .table-container {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                overflow: hidden;

                .table-header {
                    flex-shrink: 0;

                    ion-row {
                        font-size: 1.6rem;
                        padding: 1.3rem 0px !important;
                        // text-align: center;
                        background-color: #F0F2F2;
                        border-top: 2px solid #CDCFD0;
                        border-bottom: 2px solid #E5E6E7;
                        @media (max-width: 1366px) {
                        font-size: 1.4rem;
                                }
                                ion-col{
                                margin: 0px 5px 0px 10px;
                                
                                }

                            .center{
                                text-align: center;
                                justify-content: center;
                            
                            }
                            
                        }
                    }

                    .table-body {
                        flex-grow: 1;
                        ion-scroll {
                            border-bottom: #E5E6E7 2px solid;
                            height: 60vh;
                            @media (max-width: 1366px) {
                                height: 55vh;
                                }
                            .scroll-content {
                                min-height: unset;
                                background:white !important;
                                text-align: center;                                
                            }
                        }

                        ion-row {
                            border-bottom: #E5E6E7 2px solid;
                            font-size: 1.3rem;                        
                            ion-col {
                                display: flex;
                                height: 5rem;
                                text-align: center;
                                align-items: center;
                                justify-content: center;
                                check-box {
                                    margin-right: 7px;
                                }
                            }
                            .detail-content{
                                width:100%;
                                border-top: #CDCFD0 2px dashed;
                                color: #747577;
                                background-color: #F7F7F7;
                                padding:2rem 4rem;
                                min-height: 35vh;
                            }
                            .question{
                                color: red;
                                font-size: 1.5rem;
                            }
                            .menu-name {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: flex-start !important;
                                text-align: left !important;
                                width: 100%;
                                margin: 0px 5px 0px 10px;
                                color: #7D7D7F;
                                &.complex{
                                    color: #19456D;
                                    text-decoration: underline;
                                }
                            }
                            ion-icon{
                                font-size: 3rem;
                                text-align: left;
                                }

                        }
                        .more-load{
                            display: inline-block;
                            font-size : 1.5rem;
                            border: 1px #e9e9e9 solid;
                            border-radius: 10px;
                            padding:5px;
                            margin: 10px 0;
                            color: #58595B;
                            ion-icon{
                                font-size: 2rem;
                                margin-right: 10px;
                            }
                        }
                    }
                }

                .center {
                    display: flex;
                    flex-direction: row;
                    margin: 0 10px;
                    padding: 2rem;

                    .number-text {
                        line-height: 50px;
                        }

                }

            }
        }

}
