<ion-header>
  <alert-header [title]="title" (closeAction)="close();"></alert-header>
  <div class="backdrop" *ngIf="floatEnabled"></div>
</ion-header>
<ion-content>
  <div class="amt-items">

    <ion-row class="amt-items-row">
      <ion-col col-5 class="label">
        기존 금액 :</ion-col>
      <ion-col col-11 class="amt-select">
        <ion-icon name="cp-won"></ion-icon> <div class="sales-amt"> {{balanceCash|number}} </div>
      </ion-col>
    </ion-row>
    <ion-row class="amt-items-row">
        <ion-col col-5>
        </ion-col>
        <ion-col col-11 class="amt-select diabled">
          <ion-icon name="md-add"></ion-icon>
          <input type="number" [(ngModel)]="amtPlus" (keyup)="calculate(true, event) "  min="0" >
        </ion-col>
      </ion-row>
    <ion-row class="amt-items-row">
      <ion-col col-5>
      </ion-col>
      <ion-col col-11 class="amt-select diabled" >
        <ion-icon name="md-remove"></ion-icon>
        <input type="number" [(ngModel)]="amtMinus" (keyup)="calculate(false, event)"  min="0">
      </ion-col>
    </ion-row>

    <ion-row class="amt-items-row">
        <hr class="vertical">

    </ion-row>
    <ion-row  class="amt-items-row red">
      <ion-col col-5 class="label">
        합계 : </ion-col>
      <ion-col col-11 class="amt-select ">
        <ion-icon name="cp-won"></ion-icon> <div class="sales-amt"> {{totalAmt|number}} </div>
        <!-- <input [ngModel]="(totalAmt|number)"  disabled> -->
      </ion-col>
    </ion-row>
  </div>

  <div class="confirm-btns">
      <div class="cancel-btn" (click)="close()">
        취소
      </div>
      <div class="confirm-btn" (click)="modifySalesAmt()">
        확인
      </div>
    </div>
</ion-content>