<ion-content>
  <div class="background"></div>
  <div class="login-container">
    <div class="planet">
      <img class="logo" src="assets/images/logo.png" alt="">
      <img class="pos-image" src="assets/images/login.png" alt="">
    </div>
    <div class="login-content">
      <button class="btn-setting" ion-button icon-only clear color="dark" (click)="showSettings()"><ion-icon name="settings"></ion-icon></button>
      <div class="input-forms">
        <div class="options">
          <!-- <span style="margin-bottom: 20px;">
            <input type="text" [(ngModel)]="ip" style="width: 200px;" placeholder="CAT IP">
          </span> -->
        </div>
        <div class="idpw">
          <ion-icon name="cp-id"></ion-icon>
          <input type="" name="" value="" [(ngModel)]="id" placeholder="아이디">
        </div>
        <div class="idpw">
          <ion-icon name="cp-pw"></ion-icon>
          <input #pw type="password" name="" value="" [(ngModel)]="pwd" (keyup.enter)="login()" placeholder="비밀번호">
        </div>
        <div class="cursor save-id">
          <check-box [(checked)]="idSaveCheck" [checkColor]="'blue'"></check-box>&nbsp;&nbsp;아이디 저장하기
        </div>
        <div (click)="login()" class="cursor ok-btn">
          로그인
        </div>
        <div class="options">
          <div (click)="register()">회원가입</div>
          <div (click)="email()"> 아이디 및 비밀번호 찾기</div>

        </div>
      </div>
    </div>
  </div>
</ion-content>