page-stat-menu-order {
    .scroll-content {
        background: #f7f7f7;
        padding: 40px 120px !important;
        justify-content: space-between;
        @media (max-width: 1366px) {
            padding: 30px 80px !important;
        }
        display: flex;
        flex-direction: column;      
    }

    .menu-container {
        flex-basis: 43%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;

        .menu-list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: white;
            width: 100%;
            padding: 20px 20px 10px 20px;
            flex-grow: 1;
            border-radius: 20px 20px 0px 0px;

            .table-container {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                overflow: hidden;
                border: #e9e9e9 1px solid;
                border-radius: 20px 20px 0px 0px ;

                .table-header {
                    flex-shrink: 0;

                    ion-row {
                        background: #5e7d99;
                        border-radius: 20px 20px 0px 0px !important;
                        font-size: 1.5rem;
                        padding: 15px 0px !important;
                        text-align: center;

                        ion-col:not(:last-child) {
                            border-right: 1px #8098ae solid;
                        }
                        ion-col {
                            position: relative;
                            color: white;
                        }
                    }
                }

                .table-body {
                    flex-grow: 1;
                            
                    ion-scroll {
                        padding: 0px !important;
                        height: 55vh;
                                    
                        @media (max-width: 1366px) {
                            height: 40vh;
                        }      
                        .scroll-content {
                            min-height: unset;
                            padding: 0px 0px !important;
                            background:white !important
                            }
                        }

                    ion-row {
                        border-bottom: #e9e9e9 1px solid;
                        font-size: 1.3rem;
                        z-index: 3;
                        color:#58595B;
                        ion-col {
                            display: flex;
                            height: 5rem;
                            text-align: center;
                            align-items: center;
                            justify-content: center;
                            @media (max-width: 1366px) {
                                height: 4rem;
                            }
                        }
                        ion-col:not(:last-child) {
                            border-right: 1px #e9e9e9 solid;
                            }
                        ion-col:nth-child(4) {
                            color:#FF7675;
                        }
                    }

                    .more-load{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size : 1.5rem;
                        border: 1px #e9e9e9 solid;
                        border-radius: 10px;
                        padding:5px;
                        margin: 15px 0;
                        width: 8rem;
                        left: 50%;
                        position: relative;
                        transform: translateX(-50%);
                        color: #58595B;
                        ion-icon{
                            font-size: 2rem;
                            margin-right: 10px;
                        }
                    }
                }
            }

            .foot{
                color: #FF7675;
                font-size: 2rem;
                padding: .5rem 0 0 0;
                @media (max-width: 1366px) {
                    font-size: 1.5rem;
                }
         
                .sum {
                    text-align: center;
                    justify-content: center;
                    background-color: #F9F9F9;
                    padding: 2rem !important;
                    div:nth-child(1){
                        margin-right: 3rem;
                    }
                    @media (max-width: 1366px) {
                        font-size: 1.5rem;
                    }
                }
                .vertical{
                    display: flex;
                    width: 100%;
                    height: 2px;
                    margin: .7rem 0 ;
                    background-color: #F9F9F9;  
                }
            }
        }
    }

    .btn-area{
        justify-content: center;
        display: flex;
        font-size: 2rem;
        padding: 2rem 0 0 0;
        color: white;
        .confirm{
            justify-content: center;
            display: flex;
            background: linear-gradient(90deg, rgba(#EB505E, 0.8), rgba(#FC7471, 0.8));
            width:50%;
            padding:1.8rem;
            border-radius: 1.5rem;
        }
    }
}
