page-pay {

    .scroll-content{
        background-color: white;
        overflow: hidden;
    }
    .pay-left{
        background-color: #5F7D98;
        
    }

    .pay-center{
        background-repeat: no-repeat;
        background-image: url("../assets/images/pay/payBg.png");
        background-size: 80% 100%;
        transform: translateX(-1px);
    }

    input[type=text]:disabled {
        padding: 8px 2px 8px 8px;
        margin: 8px  0;
        border: 1px solid rgb(176, 176, 176);
        border-radius: 2px;
        background-color: white;
        font-size: 2rem;
        color: rgb(25,69,109);
        text-align: left;
    }
    button{
        border-radius: 2px;
    }

    //좌측 상단 전체 금액 표시
    .allAmt{
        //전체 금액
        color: white;
        font-size: 2rem;
        text-align: center;
        margin-top: 20px ;
    }

    //좌측 한번에 결제 
     .onego{
         //한번에 결제 틀잡기
        display: flex;
        align-items:  center;
        justify-content: space-around;
        flex-direction: column;
        align-content: space-around;
        height: 100%;
        min-height: 100%;
        max-height: 100vh;

        .onego-item{
            //체크박스랑 이미지 정렬
            display: flex;
            align-items: center;

            .onego-img{
                // 카드이미지
                border-radius: 15px;
                width: 26rem;
                box-shadow: 0px 10px 15px 0px rgb(50,50,50);
                border-radius: 10px;
                opacity: 0.4;
                margin: 13px 0px 13px 40px;
                @media (max-width: 1366px) {
                    width: 30rem;
                    margin: 0px 0px 0px 40px;
                    }
                &.checked{
                    opacity: 1;
                }        
            }
            .check-img{
                opacity: 0;
                width: 4rem;
                height: 3rem;
                &.checked{
                    opacity: 1;
                }

            }
        }
        .onego-item:nth-child(1){
            margin-top: 30px;
        }
        .onego-item:nth-last-child(1){
            margin-bottom: 30px;
        }
     }





    //좌측 나눠서 결제 
    .divide{
        //나눠서 결제 틀잡기
        display: flex;
        align-items:  center;
        justify-content: space-around;
        flex-direction: column;
        height: 100%;
        text-align: center;

        .divide-item{
            width: 80%;
            //전체금액이랑 상품별/인원별  선택 
            button{
                width: 100%;
                font-size: 1.5rem;
                display: inline-block;
                color: rgb(25,69,109);
                padding: 20px;
                padding-bottom: 40px;
                border-radius: 15px 15px 0px 0px;
                background-color: rgb(230, 230, 230);
                &.clicked{
                    background-color: white;
                }
            }

            //상품별/인원별의 전체 틀 
            //인원별 결제에서 조금씩 바뀌는 부분은 &.by-person으로 조금씩 수정      
            .divide-container {
                flex-basis: 43%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                transform: translateY(-25px);
                @media (max-width: 1366px) {
                    transform: translateY(-30px);
                    }
                
                .divide-list {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background: white;
                    width: 100%;
                    padding: auto 20px;
                    flex-grow: 1;
                    border-radius: 20px 20px 0px 0px;

                    &.by-person{
                        padding: 0;
                    }

                    .table-container {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        overflow: hidden;
                        border: #e9e9e9 1px solid;
                        border-radius: 20px 20px 0px 0px ;

                        .table-header {
                            flex-shrink: 0;

                            ion-row {
                                background: #5e7d99;
                                border-radius: 20px 20px 0px 0px !important;
                                font-size: 1.3rem;
                                padding: 15px 0px !important;
                                text-align: center;

                                ion-col:not(:last-child) {
                                    border-right: 1px #8098ae solid;
                                }
                                ion-col {
                                    position: relative;
                                    color: white;

                                    check-box {
                                        position: absolute;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        left: 10px;
                                        margin-right: 5px;
                                        img{
                                            @media (max-width: 1366px) {
                                                height: 20px !important;
                                                width: 20px !important;
                                                }
                                        }

                                    }
                                }
                            }
                        }

                        .table-body {
                            flex-grow: 1;
                            ion-scroll {
                                height: 40vh;
                                @media (max-width: 1366px) {
                                    height:45vh;
                                    }
                                    
                                .scroll-content {
                                    min-height: unset;
                                    background:white !important
                                }
                            }

                            ion-row {
                                border-bottom: #f2f3f3 1px solid;
                                font-size: 1.3rem;
                                border-top: #f2f3f3 1px solid;
                                z-index: 3;
                                height: 5.5rem;
                                ion-col {
                                    display: flex;
                                    height: 5.5rem;
                                    text-align: center;
                                    align-items: center;
                                    justify-content: center;

                                    check-box {
                                        margin-right: 7px;
                                        ion-icon::before{
                                            font-size: 2.1rem;
                                        }
                                    }

                                }
                                .menu-name {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: flex-start !important;
                                    text-align: left !important;
                                    width: 100%;
                                    margin: 0px 5px 0px 10px;
                                }
                                .pay-disable {
                                    position: absolute;
                                    height: inherit;
                                    width:100%;
                                    z-index: 10;
                                    display:block;
                                    background: rgba(white, 0.7);
                                }
                                .pay-checked {
                                    position: absolute;
                                    height: inherit;
                                    width:100%;
                                    z-index: 10;
                                    background: rgba(black, 0.1);
                                }
                            }
                        }
                    }

                    &.by-person{
                        padding: 0;
                        .table-body {
                            flex-grow: 1;
                            ion-scroll {
                                height: 56vh;
                                @media (max-width: 1366px) {
                                    height: 57vh;
                                    }
                            }
                        }
                        ion-row {
                                font-size: 1.3rem;
                                border-top: 0px !important;
                        }
                    }

                    .center {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        margin: 0 10px;
                        padding: 2rem;

                        div {
                            flex: unset;
                            width: 50px;
                            height: 50px;
                            justify-content: center;
                            }

                        .number-text {
                            &.by-person{
                            background: #fafafa;
                            border: #eeeeee 1px solid;
                            }
                            line-height: 50px;
                            }

                        .plus-minus {
                            flex: unset;
                            border: #eeeeee 1px solid;
                            font-size: 2.5rem;
                            justify-content: center;
                            color: #5e7d99;
                            @media (max-width: 1366px) {
                                padding:  1rem !important;
                                }
                            }
                            
                            &.selected-cost{
                            font-size: 1.8rem;
                            padding:  1.5rem 1rem  !important;
                                @media (max-width: 1366px) {
                                    padding:  1.3rem !important;
                                    }
                            color: rgb(238, 86, 97);
                            box-shadow: 5px -5px 5px 2px rgba(214, 214, 214, 0.5) !important;
                            border: 1px solid rgb(238, 238, 238);
                            z-index: 10;
                            margin:0;
                            .text{
                                width:auto;
                                margin: 0.1rem;
                                height:auto;
                            }
                            .amt{
                                font-size: 2rem !important; 
                                margin-left: 2rem;
                                height:auto;
                                width:auto;
                            }
                        }
                    }

                    .select-pay-type-btns {
                        flex-shrink: 0;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        padding: 5px;
                        color: rgb(25, 69, 109);
                        &.by-person{
                            color: gray;
                            div{
                                padding: 0.7rem;
                                border: 0px !important;
                                margin : 0.5rem;
                                font-size: 1.3rem;
                                @media (max-width: 1366px) {
                                    padding : 0.4rem;
                                    }
                                ion-icon {
                                    margin: 0px 7px;                             
                                    }
                                ion-icon::before{
                                    color: #EE5661;
                                    font-size: 2.3rem;
                                    }
                                .skyblue::before{
                                    color : #4CCECB;
                                    font-size: 2.3rem;
                                }

                            } 
                        }
                        div {
                            flex: 1;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 1px solid #B1B1B1;
                            border-radius: 20px;
                            margin: 1rem 1rem 0rem 1rem;
                            padding : 1rem;
                            font-size: 1.5rem;
                                @media (max-width: 1366px) {
                                padding : 0.5rem;
                                border-radius: 10px;
                                }
                            ion-icon {
                                color: rgb(24, 68, 109);
                                margin: 0px 15px;
                            }
                            ion-icon::before {
                                color: rgb(24, 68, 109);
                                font-size: 3.5rem;
                            }
                        }
                    }

                }
            }
        }        
    }

    .pay-info{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        margin: 10px 40px 10px 0;
        .pay-completed{
            position: absolute;
            height: 100%;
            width:100%;
            z-index: 999;
            display:flex;
            background: rgba(white, 0.8);
            flex-direction: column;
            align-items:center;
            justify-content: center;
            img{
                width:50%;
                margin-bottom: 5rem;
            }
            div{
                font-size: 2.5rem;
                color: rgb(92, 90, 90);
            }
        }
        .pay-info-updown{
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            flex-grow: 1;
            margin: auto 0px;
            }

        .pay-info-up{
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items:center;
            flex-shrink: 0;
            background-color: rgb(25,69,109);
            border-radius: 15px 15px 0 0 ;
            width:100%;
            .point{
                display: flex;
                flex-direction: row;
                border-radius: 1rem;
                align-self: flex-end;
                margin: 1rem 3rem;
                color:white;
                img{
                    height: 40px;
                    width: 40px;
                    display: flex;
                    align-items:center;
                    @media (max-width: 1366px) {
                        height: 30px;
                        width: 30px;
                        }
                }
                div{
                    display: flex;
                    align-items:center;
                    margin-left:1rem;
                    }
            }
            .orderAmt{
                color: white;
                font-size: 2rem;
                text-align: center;
                width:100%;
                }
            }


            .pay-type-info{
                width:30rem; 
                margin: 20px 0rem;
                position: relative;                    
                display: flex;
                align-items:center;
                justify-content: center;
                @media (max-width: 1366px) {
                    width:35rem; 
                    margin:  10px 0px 20px 0px;
                    }

                img{
                    box-shadow: 0px 10px 15px 1px rgb(50,50,50);
                    border-radius: 10px;
                    z-index:1;
                    position: relative;
                    width:28rem;   
                    @media (max-width: 1366px) {
                        width:35rem; 
                    }
                }
                .wonBt{
                    z-index:10;
                    position: absolute;
                    bottom:13%;
                    width:24rem;
                    button{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #58595B;
                        font-size: 1.6rem;
                        padding:.8rem 0.4rem;
                        margin:0.9rem;
                        width:10rem;
                        color: white;
                        box-shadow: 0px 3px 5px 0px rgba(50,50,50, 0.5);
                        ion-icon{
                            margin-right: 7px;
                        }
                        ion-icon::before{
                            font-size: 1.6rem;
                        }
                    }
                }
                .cardNum{
                    display: flex;
                    justify-content: space-between;
                    z-index:10;
                    position: absolute;
                    bottom:0;
                    left: 0;
                    width:90%;
                    margin: 1.5rem;
                    white-space: nowrap;
                    button{
                        flex: 1;
                        border: 1px solid white;
                        background-color: transparent;
                        font-size: 1.5rem;
                        padding: 8px;
                        margin: 6px;
                        width: 5rem;                
                        color: white;
                    }
                }
            }



        .pay-info-down{
            width: 100%;
            flex-grow: 1;
            font-size: 1.5rem;
            color: rgb(176, 176, 176);
            background-color: rgb(247,247,247);
            border-radius: 0 0 15px 15px;        
            display: flex;
            flex-direction: column;
            align-items: center;
            ion-col{
                margin: 1.0rem;
                @media (max-width: 1366px) {
                    margin: 0.8rem;
                    }
            }

            .card-type{
                padding: 2rem 4rem ;
                margin : 0px;;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                input[type=text]:disabled{
                    width: 100%;
                    display: inline-block;
                }
                ion-row{
                    flex-grow: unset;
                }

                .installment-PM{
                    width: 100%;
                    height: 80%;
                    display: inline-block;
                    font-size: 1rem;
                    display: flex;
                    align-items:  stretch;
                    input[type=text]:disabled{
                        width: 25%;
                        text-align: center;
                        font-size: 1.2rem;
                        padding: 15px 15px;
                    }
                    .plusMinus {
                        background-color: rgb(247, 247, 247);
                        border: 1px solid rgb(176, 176, 176);  
                        padding: 0rem 1.5rem;
                        margin: 8px 0px;
                        font-size: 1.5rem;
                        color: rgb(92, 122, 151);
                    }
                    
                    .installment-btn{
                        display: flex;
                        width: 100%;
                        margin: 8px 0px;
                        align-items:  center;
                        white-space: nowrap;
                        margin-left: 15px;
                        ion-col{
                            margin: 0rem;
                        }
                        button{
                            flex: 1;
                            height: 100%;
                            font-size: 1.3rem;
                            color: rgb(113, 113, 113);
                            padding: auto 1.5rem;
                            background-color: #E6E7E8;
                            &.clicked{
                                background-color: #5F7D98;
                                color:white;
                            }
                        }
                    }
                }
            }
            .cash-type{
                padding: 15px 0rem !important;
                margin : 10px 0px;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                ion-row{
                    flex-grow: 1;
                }
                @media (max-width: 1366px) {
                        margin: 5px;
                        }
                .cash-info{
                    padding: 0rem 10rem !important;
                    font-size: 1.3rem;
                    display: flex;
                    align-items: center;
                    flex-grow: 1;
                    
                    @media (max-width: 1366px) {
                        padding: 0rem 8rem !important;
                        }
                    input[type=text]:disabled{
                        margin :0;
                        border: 0px;
                        width:calc(100% - 50px);
                        @media (max-width: 1366px) {
                            width:calc(100% - 40px);
                            }
                        font-size: 1.8rem;
                        background-color: transparent;   
                    }
                }
            }

            .vertical{
                width: 90%;
                height: 2px;
            }


            .approval-btn{
                background: linear-gradient(90deg, rgba(#EB505E, 0.8), rgba(#FC7471, 0.8));
                color: white;
                border-radius: 15px;
                padding: 1.4rem 6rem;
                &.card1{
                    font-size: 2rem;
                    left: 50%;
                    position: relative;
                    transform: translate(-50%, 0);
                    margin-top: 0.5rem;
                    }
                @media (max-width: 1366px) {
                    padding: 1.5rem 8rem !important;
                    // margin: 0rem 0rem 1rem 0rem !important;
                    }
                &.cash1{
                    width:100%;
                    font-size: 1.5rem;
                    padding: 1.5rem ;
                    &.left{
                        position: relative;
                        background:  rgb(109, 110, 113);      
                    }
                    @media (max-width: 1366px) {
                        padding: 15px 20px !important;
                        }
                }
            }
        }  
    }

    .amt-select{
        background-color: white;
        border: 1px solid rgb(176, 176, 176);
        border-radius: 2px;
        width:auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        &.by-person{
            display: flex;
            align-items:center;
            width: 80%;
            height: 75%;
            ion-icon::before{
                color: rgb(25,69,109);
                font-size : 1.8rem;
                margin: 0rem 0rem 0rem 1rem;
            }
            input[type=text]:disabled{
                width:100%;      
                margin:0;
                border:0;
                height: 100%;
                }
            }
       button{
            display: flex;
            align-items:center;
            ion-icon::before{
                font-size: 3.2rem;
                font-weight: bold;
                margin: 0 10px;
            }
            background-color: rgb(247, 247, 247);
            border: 1px solid rgb(176, 176, 176);  
            color: rgb(92, 122, 151);
            @media (max-width: 1366px) {
                ion-icon::before{
                    margin: 0 7px;
                }
                }
        }
        input[type=text]:disabled{
            align-self: flex-start;      
            margin:0;
            border:0;
            }
    }
    mileage-component{
        position: absolute;
        z-index: 50;
        // top:0;
        // left: 0;
    }

}
