<ion-content>
  <ion-row>
    <ion-col col-1 class="side-tab">
      <div class="item" [ngClass]="{'selected':onego}" (click)="onegoPay()">
        한번에 결제
      </div>
      <div class="item" [ngClass]="{'selected':divide}" (click)="dividePay()">
        나눠서 결제
      </div>
      <div class="item" (click)="creditPay()">
        외상 결제
      </div>
    </ion-col>
    <ion-col col-15>
      <ion-content>
        <ion-row>
          <!--한번에 결제-->
          <ion-col class="pay-left" col-6 *ngIf="onego">
            <div class="onego">
              <!--카드 선택 시 -->
              <div class="onego-item" (click)="selectPayType('card')">
                <img class="check-img" src="assets/images/pay/checked.png" [ngClass]="{'checked': this.payType['card']}" />
                <img class="onego-img" src="assets/images/pay/choose-card.png" [ngClass]="{'checked': this.payType['card']}" />
              </div>
              <!--현금 선택시-->
              <div class="onego-item" (click)="selectPayType('cash')">
                <img class="check-img" src="assets/images/pay/checked.png" [ngClass]="{'checked': this.payType['cash']}" />
                <img class="onego-img" src="assets/images/pay/choose-cash.png" [ngClass]="{'checked': this.payType['cash']}" />
              </div>
            </div>
          </ion-col>
          <!--나눠서 결제-->
          <!--by menu: 메뉴별 결제 -->
          <ion-col class="pay-left" col-6 *ngIf="divide">
            <!--좌측 상단 전체 금액-->
            <div class="divide">
              <div class="divide-item allAmt"> 전체 금액: {{remainingAmt | number }}원
              </div>
              <!--상품별/인원별 버튼-->
              <div class="divide-item">
                <ion-row>
                  <ion-col col-8><button (click)="selectedivideBy(true);" [ngClass]="{'clicked': divideBy == true}">상품별</button></ion-col>
                  <ion-col col-8><button (click)="selectedivideBy(false);;" [ngClass]="{'clicked': divideBy == false}">인원별</button></ion-col>
                </ion-row>
                <!--상품별/인원별 버튼 아래 콘테이너-->
                <div class="divide-container">
                  <!--상품별 결제-->
                  <div *ngIf="divideBy" class="divide-list">
                    <!--메뉴 리스트 테이블-->
                    <div class="table-container">
                      <ion-grid class="table-header">
                        <!--메뉴 리스트 헤더-->
                        <ion-row>
                          <ion-col col-5>
                            <check-box [(checked)]="checkAll" (click)="selectedAll($event)" [checkColor]="'white'"></check-box> 메뉴
                          </ion-col>
                          <ion-col col-3>
                            단가
                          </ion-col>
                          <ion-col col-2>
                            수량
                          </ion-col>
                          <ion-col col-2>
                            할인
                          </ion-col>
                          <ion-col col-4>
                            가격
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                      <ion-grid class="table-body">
                        <!--메뉴 리스트-->
                        <ion-scroll scrollY="true">
                          <ion-row *ngFor="let item of menuList; let idx = index; let isLast = last;">
                            <div class="pay-disable" *ngIf="item.payYN" (click)="clickDisable=true"></div>
                            <div class="pay-checked" *ngIf="item.checked" (click)="selectOrder(idx)"></div>
                            <ion-col col-5 (click)="selectOrder(idx)">
                              <div class="menu-name">
                                <check-box [(checked)]="item.checked" [checkColor]="'blue'" (click)="selectOrder(idx)"></check-box>
                                {{item.menuName}}
                              </div>
                            </ion-col>
                            <ion-col col-3 (click)="selectOrder(idx)">
                              {{item.itemAmt | number}}원
                            </ion-col>
                            <ion-col col-2 (click)="selectOrder(idx)">
                              <div class="center">
                                <div class="number-text">
                                  {{item.itemCNT | number}}
                                </div>
                              </div>
                            </ion-col>
                            <ion-col col-2 (click)="selectOrder(idx)">
                              {{item.dcName}}
                            </ion-col>
                            <ion-col col-4 (click)="selectOrder(idx)">
                              {{item.itemAmt - item.dcAmt | number}}원
                            </ion-col>

                          </ion-row>
                        </ion-scroll>
                        <!--<ion-row class="selected-cost"> <ion-col class="hihi">선택 금액:<div class="selected-cost amt">0원</div></ion-col></ion-row>-->
                      </ion-grid>
                    </div>
                    <div>
                      <ion-row>
                        <ion-col class="center selected-cost">
                          <div class="text">선택 금액:</div>
                          <div class="amt"> {{byMenu.payTotal |number }} 원</div>
                        </ion-col>
                      </ion-row>
                    </div>
                    <div class="select-pay-type-btns">
                      <div (click)="selectPayType('card', false, byMenu)">
                        <ion-icon name="cp-card"></ion-icon>카드
                      </div>
                      <div (click)="selectPayType('cash',false, byMenu)">
                        <ion-icon name="cp-cash"></ion-icon>현금
                      </div>
                    </div>
                  </div>
                  <!--by person : 인원별 결제 -->
                  <div *ngIf="!divideBy" class="divide-list by-person">
                    <!--인원수 넣고 빼는 버튼-->
                    <div class="center">
                      <div class="plus-minus" (click)="calByPerson(-1)">
                        <ion-icon name="md-remove"></ion-icon>
                      </div>
                      <div class="number-text by-person">
                        {{byPerson.length}}
                      </div>
                      <div class="plus-minus" (click)="calByPerson(1)">
                        <ion-icon name="md-add"></ion-icon>
                      </div>
                    </div>
                    <!--인원별 가격 쥬르륵-->
                    <div class="table-container by-person">
                      <ion-grid class="table-body">
                        <ion-scroll class="by-person" scrollY="true">
                          <ion-row *ngFor="let item of byPerson; let idx = index; let isLast = last;">
                            <!--<ion-row class="block">-->
                            <div class="pay-checked" *ngIf="item.payYN" (click)="clickDisable=true"></div>
                            <ion-col col-1>
                            </ion-col>
                            <ion-col col-7>
                              <div class="amt-select by-person">
                                <ion-icon name="cp-won"></ion-icon>
                                <input class="by-person" type="text" [ngModel]="item.payTotal|number" disabled>
                              </div>
                            </ion-col>
                            <ion-col col-7>
                              <div class="select-pay-type-btns by-person">
                                <div (click)="selectPayType('card',false, item, idx)">
                                  <ion-icon name="cp-card"></ion-icon>카드
                                </div>
                              </div>
                              <div class="select-pay-type-btns by-person">
                                <div (click)="selectPayType('cash', false, item, idx)">
                                  <ion-icon class="skyblue" name="cp-cash"></ion-icon>현금
                                </div>
                              </div>
                            </ion-col>
                            <ion-col col-1>
                            </ion-col>
                            <!--</ion-row>-->
                          </ion-row>
                        </ion-scroll>
                      </ion-grid>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ion-col>
          <!--살짝 비어있는곳이 필요해서 column으로 비워뒀습니다.-->
          <ion-col class="pay-center" col-3>
          </ion-col>

          <!--우측 결제 수단 -->
          <ion-col class="pay-info" >
            <div *ngIf="payBlur" class="pay-completed"> 
              <img src="assets/images/pay/finger.png" alt="">
              <div>결제할 상품 혹은 인원을 선택하세요.</div>
            </div>
            <!--결제 금액은 항상 그대로 -->
            <div class="pay-info-updown">
              <div class="pay-info-up">
                <!--포인트 적립/사용은 항상 그대로-->
                <div class="point" (click)="saveOrNot = true; showBackdrop(true);">
                  <img src="assets/images/pay/point.png">
                  <div>포인트 적립/사용</div>
                  <!--<ion-col></ion-col>
                  <ion-col> </ion-col>-->
                </div>
                <div class="orderAmt"> 결제 금액: {{dividePayTotal|number}}원
                </div>
                <!--결제 수단에 따라 바뀌는! 부분 -->
                <!--카드 결제시 이미지 위에 카드번호가 나오나여..?-->
                <div class="pay-type-info" *ngIf="this.payType['card']"> <img src="assets/images/pay/card.png" />
                  <div class="cardNum">
                    <ion-row>
                      <button>1234</button><button>****</button><button>****</button><button>5678</button>
                    </ion-row>
                  </div>
                </div>
                <!--현금 결제시 받는 지폐의 종류를 선택하고 잔돈을 계산할수 있게 해줍니다.-->
                <div class="pay-type-info" *ngIf="this.payType['cash']"><img src="assets/images/pay/cash.png" />
                  <div class="wonBt">
                    <ion-row>
                      <ion-col><button (click)="calcashReceived(50000)"> <ion-icon name="cp-won"></ion-icon> 50,000</button></ion-col>
                      <ion-col><button (click)="calcashReceived(10000)"> <ion-icon name="cp-won"></ion-icon> 10,000</button></ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col><button (click)="calcashReceived(5000)"><ion-icon name="cp-won"></ion-icon> 5,000</button>
                      </ion-col>
                      <ion-col><button (click)="calcashReceived(1000)"><ion-icon name="cp-won"></ion-icon> 1,000</button></ion-col>
                    </ion-row>
                  </div>
                </div>
                <!--한동대 결제 몰라서 그냥 한동대 카드 이미지랑 카드 결제 내용들이 나타나게 됩니다.-->
                <div class="pay-type-info" *ngIf="this.payType['hgu']"> <img src="assets/images/pay/choose-hgu.png" /></div>
              </div>
              <!--카드 결제시, 할부 기간을 선택할 수 있다. 또한 합산 금액, 할인금액 승인금액을 표시-->

              <div class="pay-info-down">
                <div class="card-type" *ngIf="this.payType['card']||this.payType['hgu']">
                  <ion-row><ion-col>할부기간</ion-col></ion-row>
                  <ion-row>
                    <ion-col>
                    <!--할부 기간 선택 가능-->
                      <div class="installment-PM">
                        <button (click)="calInstallment(-1)" class="plusMinus"><ion-icon name="md-remove"></ion-icon></button>
                        <input *ngIf="cardInstallmentMm==0" type="text" [ngModel]="'일시불'" disabled>
                        <input *ngIf="cardInstallmentMm!=0" type="text" [ngModel]="cardInstallmentMm" disabled>
                        <button (click)="calInstallment(1)" class="plusMinus"><ion-icon name="md-add"></ion-icon></button>
                        <div class="installment-btn">
                          <button (click)="cardInstallmentMm=0" [ngClass]="{'clicked': cardInstallmentMm==0}">일시불</button>
                          <button (click)="cardInstallmentMm=3" [ngClass]="{'clicked': cardInstallmentMm==3}">3개월</button>
                          <button (click)="cardInstallmentMm=6" [ngClass]="{'clicked': cardInstallmentMm==6}">6개월</button>
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>
                  <!--결제할 금액의 정보-->
                  <ion-row>
                    <ion-col> &nbsp;합산금액 <input type="text" [ngModel]="divideOrderAmt|number" disabled></ion-col>
                    <!-- <ion-col> &nbsp;할인금액 <input type="text" [ngModel]="discounted|number" disabled></ion-col> -->
                    <ion-col> &nbsp;할인금액 <input type="text" [ngModel]="(divideOrderAmt-dividePayTotal)|number" disabled></ion-col>
                    <ion-col> &nbsp;승인금액 <input type="text" [ngModel]="dividePayTotal|number" disabled></ion-col>
                  </ion-row>

                  <ion-row> <button class="approval-btn card1" (click)="waitTerminal()">승인요청</button> </ion-row>
                </div>
                <!--현금 결제시 받은 금액, 결제 할 금액, 거슬러줄 금액에 대해 표시-->
                <div class="cash-type" *ngIf="this.payType['cash']">
                  <ion-row class="cash-info">
                    <ion-col col-4>
                      받은 금액</ion-col>
                    <ion-col col-9 class="amt-select">
                      <input type="text" [ngModel]="(cashReceived|number)+'원'" disabled>
                      <button (click)="calcashReceived(0)" class="cancle">
                      <ion-icon name="ios-close"></ion-icon>
                      </button>
                    </ion-col>
                  </ion-row>
                  <ion-row class="cash-info">
                    <ion-col col-4>
                      결제 금액</ion-col>
                    <ion-col col-9>
                      <input type="text" [ngModel]="(dividePayTotal|number)+'원'" disabled>
                    </ion-col>
                  </ion-row>
                  <ion-row class="cash-info">
                    <ion-col style="margin-bottom:0" col-4>
                    </ion-col>
                    <ion-col style="margin-bottom:0" col-9>
                      <hr class="vertical">
                    </ion-col>
                  </ion-row>
                  <ion-row style="color:rgb(238, 86, 97)" class="cash-info">
                    <ion-col col-4>
                      잔돈: </ion-col>
                    <ion-col col-9>
                      <input style="color:rgb(238, 86, 97)" *ngIf="(cashReceived-dividePayTotal)<=0" [ngModel]="0+'원'" type="text" disabled>
                      <input style="color:rgb(238, 86, 97)" *ngIf="(cashReceived-dividePayTotal)>0" [ngModel]="((cashReceived-dividePayTotal)|number)+'원'"
                        type="text" disabled>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-1></ion-col>
                    <ion-col col-6> <button class="approval-btn cash1 left" (click)="cashPrint()">현금영수증 + 계산</button> </ion-col>
                    <ion-col col-6> <button class="approval-btn cash1 " (click)="payCash()">계산완료</button> </ion-col>
                  </ion-row>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-content>
    </ion-col>
    <mileage-component *ngIf="saveOrNot == true" [cost]="dividePayTotal"  (goPayData)="getMembershipData($event)"></mileage-component>
  </ion-row>