<ion-header>
  <alert-header [title]="title" (closeAction)="close($event)"></alert-header>
</ion-header>
<ion-content>
  <div class="alert-content">
    <div class="text-content-section">
      <div class="big-font-content">
        {{label_big}}
      </div>
      <div class="small-font-content">
        <ion-icon name="cp-cash" *ngIf="label_payType=='현금'"></ion-icon>
        <ion-icon name="cp-card" *ngIf="label_payType=='카드'"></ion-icon>
        <ion-icon name="cp-point" *ngIf="label_payType=='마일리지'"></ion-icon>
        <ion-icon name="cp-mileage" *ngIf="label_payType=='포인트'"></ion-icon>
        <div class="pay-type">{{label_payType}}</div>
        <div class="pay-amt">{{label_payAmt | number }} {{'won' | translate }}</div>
      </div>
    </div>
    <div class="confirm-btns">
      <div class="cancel-btn" (click)="close(0)">
        {{'no' | translate }}
      </div>
      <div class="confirm-btn" (click)="close(1)" *ngIf=isQR>
        {{'yes' | translate }}
      </div>
    </div>
  </div>
</ion-content>