<ion-content class="short-bg">
  <ion-row ion-fixed no-padding class="outer-row" >
    <div class="backdrop" *ngIf="editMode"></div>
    <ion-col class="side-tab">
      <div class="item" [ngClass]="{'selected': isInTable()}" *ngIf="isInTable()||isInOrderList()" (click)="goToTable()">
        <ion-icon name="cp-home1"></ion-icon>
        <span>매장</span>
      </div>
      <div class="item" [ngClass]="{'selected': isInOrderList()}" *ngIf="isInTable()||isInOrderList()" (click)="goToOrderList()">
        <ion-icon name="cp-home1"></ion-icon>
        <span>오더</span>
      </div>
      <div class="item" [ngClass]="{'selected': !isInDc()}" *ngIf="!isInTable()&&!isInOrderList()" (click)="goToMenu()">
        <ion-icon name="cp-edit-sale"></ion-icon>
        <span>메뉴</span>
      </div>
      <div class="item" [ngClass]="{'selected': isInDc()}" *ngIf="!isInTable()&&!isInOrderList()" (click)="goDc()">
        <ion-icon name="cp-dis2"></ion-icon>
        <span>할인</span>
      </div>
    </ion-col>
    <ion-col col-15 class="order-content">
      <div class="menu-list-container">
        <ion-nav #nav [root]="rootPage"></ion-nav>
        <div *ngIf="editMode" class="filter-and-opt" [ngStyle]="{'margin-top': filterHeight}">
          <!-- <div class="filter">
            <select *ngIf="!isInDc() && !isInTable()">
              <option value="">이름순</option>
              <option value="">등록순</option>
              <option value="">인기순</option>
            </select>
          </div> -->
          <div class="float-content" [ngClass]="{'menu-open': floatEnabled}">
            <div class="float-menu" *ngIf="isInTable()">
              <div class="menu-item" (click)="newCategory(0);">
                <ion-icon name="cp-add-category"></ion-icon>층 추가
              </div>
              <div class="menu-item" (click)="newTable();">
                <ion-icon name="cp-add-table"></ion-icon>테이블 추가
              </div>
              <!-- <div class="menu-item">
                <ion-icon name="cp-wating-take-out"></ion-icon>대기/포장 테이블 추가
              </div> -->
            </div>
            <div class="float-menu" *ngIf="!isInTable() && !isInDc()">
              <div class="menu-item" (click)="newCategory(1);">
                <ion-icon name="cp-add-category"></ion-icon>카테고리 추가
              </div>
              <div class="menu-item" (click)="newMenu();">
                <ion-icon name="cp-add-menu"></ion-icon>메뉴 추가
              </div>
              <div class="menu-item" (click)="newSetMenu();">
                <ion-icon name="cp-add-set-menu"></ion-icon>세트 메뉴 추가
              </div>
            </div>
            <div class="float-menu" *ngIf="isInDc()">
              <div class="menu-item" (click)="newDc()">
                <ion-icon name="cp-add-category"></ion-icon>할인추가
              </div>
            </div>
            <div class="float-btn" (click)="floatEnabled = !floatEnabled">
              <img src="assets/images/plus.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="order-menu-list-container">
        <div class="order-menu-list">
          <div *ngIf="loginSession.getInfo().posType == 1">
            <!-- <div *ngFor="let tag of tableTags; let i = index"
                  class="print-btn"
                  (click)="clickTag(i)"
                  [ngStyle]="
                    @media all and (min-width:1080px){
                      {'bottom': ((tableTags.length - i - 1) * 80 + 20) + 'px'}
                    }
                    @media all and (min-width:1920px){
                      {'bottom': ((tableTags.length - i - 1) * 140 + 20) + 'px'}
                    }
                  "> -->
            <div *ngFor="let tag of tableTags; let i = index"
                  class="print-btn"
                  (click)="clickTag(i)"
                  [ngStyle]="
                    {'bottom': ((tableTags.length - i - 1) * (platform.width() >= 1920 ? 120 : 80) + 15) + 'px',
                     'height': ((platform.width() >= 1920 ? 30 : 60)),
                     'color': (tag['selected'] == true ? '#19456d' : '#e9e9e9'),
                     'background': (tag['selected'] == false ? '#19456d' : '#e9e9e9')}"
                  >
              <!-- <div *ngIf="tag['selected'] == true"
                    class="arrow-left"></div> -->
              {{tag['name']}}
              <!-- {{tag['number']}} -->
            </div>
          </div>
          <div class="table-container">
            <ion-grid class="table-header">
              <ion-row>
                <ion-col col-3>
                  <check-box *ngIf="!(isInTable()||isInOrderList())" [(checked)]="checkAll" (checkedChange)="selectedAll($event)"></check-box> 메뉴
                </ion-col>
                <ion-col col-3>
                  단가
                </ion-col>
                <ion-col col-5>
                  수량
                </ion-col>
                <ion-col col-2>
                  할인
                </ion-col>
                <ion-col col-3>
                  가격
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid class="table-body">
              <ion-scroll #menuList scrollY="true">
                <div *ngIf="loginSession.getInfo().posType == 1">
                  <ion-row *ngFor="let item of tableTags[selectedPrepayment]['detail']; let idx = index; let isLast = last;">
                    <ion-col col-3 (click)="item.checked = !item.checked; selectOrder(idx);">
                      <div class="menu-name" [ngClass]="{'inactive': (isInTable()||isInOrderList())}">
                        <check-box *ngIf="!(isInTable()||isInOrderList())" [checkColor]="'blue'" [(checked)]="item.checked" (checkedChange)="selectOrder(idx)" (click)="item.checked = !item.checked; selectOrder(idx);"></check-box>
                        {{item.menuName}}
                        <!-- <div *ngIf="item.isNew && !isInTable()" class="is-new">
                          New
                        </div> -->
                      </div>
                    </ion-col>
                    <ion-col class="odd-col" col-3>
                      {{item.itemAmt | number}}원
                    </ion-col>
                    <ion-col col-5>
                      <div class="center">
                        <div class="plus-minus" [ngClass]="{'disabled': isInTable()}" (click)="!isInTable() ? itemMinus(idx) : return;">-</div>
                        <div class="number-text">
                          {{item.itemCNT | number}}
                        </div>
                        <div class="plus-minus" [ngClass]="{'disabled': isInTable()}" (click)="!isInTable() ? itemPlus(idx) : return;">+</div>
                      </div>
                    </ion-col>
                    <ion-col class="odd-col" col-2>
                      {{item.dcName}}
                    </ion-col>
                    <ion-col col-3>
                      {{item.itemCNT * (item.itemAmt - item.dcAmt) | number : '1.0-0'}}원
                    </ion-col>
                  </ion-row>
                </div>
                <div *ngIf="loginSession.getInfo().posType != 1">
                  <ion-row *ngFor="let item of order.detail; let idx = index; let isLast = last;">
                    <ion-col col-3 (click)="item.checked = !item.checked; selectOrder(idx);">
                      <div class="menu-name" [ngClass]="{'inactive': isInTable()||isInOrderList()}">
                        <check-box *ngIf="!(isInTable()||isInOrderList())" [checkColor]="'blue'" [(checked)]="item.checked" (checkedChange)="selectOrder(idx)" (click)="item.checked = !item.checked; selectOrder(idx);"></check-box>
                        {{item.menuName}}
                        <div *ngIf="item.isNew && !isInTable()" class="is-new">
                          New
                        </div>
                      </div>
                    </ion-col>
                    <ion-col class="odd-col" col-3>
                      {{item.itemAmt | number}}원
                    </ion-col>
                    <ion-col col-5>
                      <div class="center">
                        <div class="plus-minus" [ngClass]="{'disabled': isInTable()||isInOrderList()}" (click)="!(isInTable()||isInOrderList()) ? itemMinus(idx) : return;">-</div>
                        <div class="number-text">
                          {{item.itemCNT | number}}
                        </div>
                        <div class="plus-minus" [ngClass]="{'disabled': isInTable()||isInOrderList()}" (click)="!(isInTable()||isInOrderList()) ? itemPlus(idx) : return;">+</div>
                      </div>
                    </ion-col>
                    <ion-col class="odd-col" col-2>
                      {{item.dcName}}
                    </ion-col>
                    <ion-col col-3>
                      {{item.itemCNT * (item.itemAmt - item.dcAmt) | number : '1.0-0'}}원
                    </ion-col>
                  </ion-row>
                </div>
              </ion-scroll>
            </ion-grid>
          </div>
          <div class="menu-opt-btns">
            <div (click)="salesAmt()">
              <ion-icon name="cp-money-storage" ></ion-icon>돈통열기
            </div>
            <div (click)="removeOrder()" [ngClass]="{'disabled': isInTable()||isInOrderList()}">
              <ion-icon name="cp-delete"></ion-icon>{{'delete' | translate }}
            </div>
          </div>
        </div>
        <div class="pay-opt">
          <div class="pay-btn order-done" *ngIf="isInTable()" (click)="goToMenu()">
            주문추가
          </div>
          <div class="pay-amt-text" *ngIf="loginSession.getInfo().posType == 1 || (!isInTable() && !(isNewOrder || (order.detail && order.detail.length < 1)))">
            {{orderSum | number}}{{'won' | translate }}
          </div>
          <div class="pay-btn order-done" *ngIf="loginSession.getInfo().posType != 1 && !isInTable() && (isNewOrder || (order.detail && order.detail.length < 1)) && !isInOrderList()" (click)="saveNpop();">
            주문추가완료
          </div>
          <!-- <div class="pay-btn" (click)="goToPay()" >
            결제 <ng-container *ngIf="isInTable() || isNewOrder || (order.detail && order.detail.length < 1)">{{orderSum | number : '1.0-0'}}원</ng-container>
          </div> -->
          <div class="pay-btn" (click)="goToPay()" [ngClass]="{'gray': !isPay()}" *ngIf="!isInOrderList()">
            {{'pay' | translate }} <ng-container *ngIf="!prepayment && (isInTable() || isNewOrder || (order.detail && order.detail.length < 1) )&& isPay()">{{orderSum | number : '1.0-0'}}{{'won' | translate }}</ng-container>
          </div>
          <div class="pay-btn" *ngIf="isInOrderList()">
            주문처리완료
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>