page-container {
    .page-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .header-container {
        width: 100%;
        padding-top: 20px;
        background-color: #1a3256;
        overflow: hidden;
        position: relative;
        @media (max-width: 1366px) {
            padding-top: 10px;
        }
        .header-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            background: #19456c;
            padding: 20px 10px;
            @media (max-width: 1366px) {
                padding: 10px 5px;
            }
            .header-left {
                display: flex;
                flex: 1;
                justify-content: flex-start;
                .item{
                    color:white;
                    ion-icon{
                        font-size:4rem;
                        margin: 0px 2rem;
                    }
                }
            }
            .header-center {
                display: flex;
                flex: 1;
                justify-content: center;
                color: white;
                font-size: 2rem;
            }
            .header-right {
                display: flex;
                flex: 1;
                justify-content: flex-end;
               
                .item{
                    display: flex;
                    align-items: center;
                    min-width:100%;
                    margin: 0px 6rem 0px 0px;

                    ion-col{
                        position: relative;
                        font-size: 1.3rem;
                        font-weight: bold;
                        display: flex;
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                        
                        @media(max-width: 1366px) {
                            display: flex;
                            text-align: center;
                            align-items: center;
                            justify-content: center;
                        }
                        .lang {
                            color: #eb505e;
                            background: white;
                        }
    
                        .lang-checked {
                            color: white;
                            background: #eb505e;
                        }
                        div{
                            width: 80%;
                            border-radius: 15px;
                            text-align: center;
                            border: 2px solid #eb505e;
                            margin: 0px 15px 0px 15px;
                            padding: 1.2rem;
                        }
                    }


                }
            }
        }
    }

    .content {
        position: relative;
        flex-grow: 1;

        .first-nav {
            overflow: hidden;
            background-color: #f7f7f7;
            background-position: center top;
            background-repeat: no-repeat;
        }
    }

    .notice-area {
        position: absolute;
        transform: translateY(-100%);
        width: 100%;

        .notice {
            position: relative;
            background: #19456c;
            width: 33%;
            height: 30px;
            border-radius: 10px 10px 0px 0px;
            left: 50%;
            transform: translateX(-50%);
            
            @media (max-width: 1366px) {
                height: 25px;
                max-height: 25px;
            }
        }
    }
}