page-end {
    .scroll-content {
        display: flex;
        align-items: center;
    }

    .outer-container {
        width: 80vh;
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        @media (max-width: 1366px) {
            margin: 20px auto 0px auto;
        }

        .inner-section {
            // flex-basis: 72%;
            padding: 15px 80px;
            display: flex;
            flex-direction: column;
            background: white;
            border-radius: 20px;
            box-shadow: 1px 1px 19px 3px rgba(0, 0, 0, 0.09);
            @media (max-width: 1366px) {
                padding: 5px 50px;
            }

            .date-section {
                display: flex;
                align-items: center;
                flex-direction: row;
                margin: 10px 0px;

                .date-info{
                    flex-basis: 50%;
                    display: flex;
                    align-items: baseline;
                    flex-direction: row;
                    .text{
                        color: #929496;
                        margin : 0.6rem;
                    }
                    .date-dt{
                        color: #eb505e;
                        font-size: 3rem;
                        margin: 1rem 0rem;
                        @media (max-width: 1366px) {
                            font-size: 2.5rem;
                        }
                    }
                    .date-tm{
                        font-size: 2rem; 
                        color: #707173;
                        
                    }
                }

            }

            .content {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 2rem 0rem;

                ion-row{
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    width: 60%;
                    background-color: #F7F7F7;
                    border: 1px #D4D6D7 solid;
                    color:#19456C;
                    align-items: center;
                    text-align: center;
                    padding:1.2rem 0rem !important;
                    ion-icon::before{
                        font-size: 1.5rem;
                    }
                }
                ion-row:last-child{
                    margin-top: 1.5rem;
                    // border-bottom: 0px;
                }
                ion-row:first-child{
                    margin-bottom: 1.5rem;
                }
                .item-text{
                    text-align: right;
                }
                .item-amt{
                    text-align: left;
                    
                }
            }

            .total {
                text-align: center;
                margin-top: 10px;
                font-size: 2rem;
                color: #eb505e;
                padding-bottom: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                @media (max-width: 1366px) {
                    font-size: 1.8rem;
                    padding-bottom: 25px;
                    
                }
                ion-icon::before{
                    font-size: 2rem;
                    margin-right: 1rem;
                }
            }
            .menu-sales{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                text-align: center;
                font-size: 1.5rem;
                color: #707173;
                padding-bottom: 10px;
                ion-icon{
                    margin-right: 10px;
                    color: #eb505e;
                }                
                ion-icon::before{
                    font-size: 2rem;
                }

            }                
        }
    }

    .btn-container {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .ok-btn{
            margin: 0rem 2rem 2rem 2rem;
            // padding : 
        }
        div:first-child{
           background-color: #6D6E70;
        }
    }

    
}
