<ion-content>
  <div class="outer-container">
    <div class="inner-section">
      <div class="date-section">
        <div class="date-info">
          <div class="text"> 영업시작 :</div>
          <div class="date-detail">
            <div class="date-dt">
              {{salesDttm | date:'y.MM.dd'}}
            </div>
            <div class="date-tm">
              {{(salesDttm|date:'a')==AM?'오전':'오후'}} {{salesDttm | date:'hh:mm:ss'}}
            </div>
          </div>
        </div>
        <div class="date-info">
          <div class="text"> 영업마감 :</div>
          <div class="date-detail">
            <div class="date-dt">
              {{today | date:'y.MM.dd'}}
            </div>
            <div class="date-tm">
              {{(today|date:'a')==AM?'오전':'오후'}} {{today | date:'hh:mm:ss'}}
            </div>
          </div>
        </div>
        <!-- <span class="date">{{today | date:'y.MM.dd'}}</span> -->
        <!-- <span class="select-date" (click)="clickDatePicker()"><ion-icon name="rcp-calendar"></ion-icon>날짜선택</span> -->
      </div>
      <div class="content">
        <ion-row>
          <ion-col col-7 class="item-text">개시 금액 </ion-col>
          <ion-col col-2><ion-icon name="cp-won"></ion-icon></ion-col>
          <ion-col col-7 class="item-amt">{{endData.openCash | number }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-7 class="item-text">현금 매출</ion-col>
          <ion-col col-2><ion-icon name="cp-won"></ion-icon></ion-col>
          <ion-col col-7 class="item-amt">{{endData.totalCash | number }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-7 class="item-text">카드 매출</ion-col>
          <ion-col col-2><ion-icon name="cp-won"></ion-icon></ion-col>
          <ion-col col-7 class="item-amt">{{endData.totalCard | number }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-7 class="item-text">포인트 매출</ion-col>
          <ion-col col-2><ion-icon name="cp-won"></ion-icon></ion-col>
          <ion-col col-7 class="item-amt">{{endData.totalPoint | number }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-7 class="item-text">마일리지 매출</ion-col>
          <ion-col col-2> <ion-icon name="cp-won"></ion-icon></ion-col>
          <ion-col col-7 class="item-amt">{{endData.totalMileage | number }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-7 class="item-text">마일리지 발행</ion-col>
          <ion-col col-2><ion-icon name="cp-won"></ion-icon></ion-col>
          <ion-col col-7 class="item-amt">{{endData.issueMileage | number }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-7 class="item-text">마감 현금 잔액</ion-col>
          <ion-col col-2><ion-icon name="cp-won"></ion-icon></ion-col>
          <ion-col col-7 class="item-amt">{{endData.balanceCash | number }}</ion-col>
        </ion-row>

      </div>

      <div class="total">
        총 영업 매출 : &nbsp;&nbsp;<ion-icon name="cp-won"></ion-icon> {{(endData.totalCash + endData.totalCard) | number }}
      </div>
      <div class="menu-sales" (click)="goEndDetail()">
        <ion-icon name="cp-each-item-log"></ion-icon> 상품별 매출 조회
      </div>
    </div>
  </div>
  <div class="btn-container">
    <div (click)="preparing()" class="ok-btn">
      정산지 출력
    </div>
    <div (click)="end()" class="ok-btn">
      마감 완료
    </div>
  </div>
</ion-content>