<!-- Generated template for the MileageComponent component -->

<ion-row class="lets-save">
  <div class="backdrop"></div>
  <div class="left">
  </div>
  <div class="center">
    <div class="save-container">
      <ion-header>
        <div>{{costTitle}}</div>
        <ion-icon name="cp-delete-category" (click)="closeMembership()"></ion-icon>
      </ion-header>
      <!--<ion-content padding>-->
      <div class="top-background">
        <ion-row>
          <ion-col col-8>
            <img class="cardImg" src="assets/images/pay/barcode.png">
          </ion-col>
          <ion-col col-8 class="right-col">
            <div class="blank"></div>
            <div class="input-tel-box">
              <string-input #phonenum [(value)]="tel"  (click)="whichNumpad(1)" placeholder="전화번호"></string-input>
            </div>
            <span class="search" (click)="findMember()">조회</span>
          </ion-col>
        </ion-row>
      </div>
      <div class="log-background">
        <div class="content-th">
          <ion-row>
            <ion-col>
              <div>고객명</div>
            </ion-col>
            <ion-col class="phone-num">
              <div>연락처</div>
            </ion-col>
            <ion-col class="point">
              <img src="assets/images/pay/point.png">
              <div>포항포인트</div>
            </ion-col>
            <ion-col *ngIf="mileageOrStamp">
              <div>
                <ion-icon name="cp-mileage"></ion-icon>
                <div>마일리지</div>
              </div>
            </ion-col>
            <ion-col *ngIf="!mileageOrStamp">
              <div>
                <ion-icon name="cp-mileage"></ion-icon>
                <div>스탬프</div>
              </div>
            </ion-col>
          </ion-row>
        </div>
        <div class="content-tr">
          <ion-row *ngIf="selectedUser.userNo != ''">
            <ion-col>
              {{selectedUser.userName}}
            </ion-col>
            <ion-col>
              {{selectedUser.tel}}
            </ion-col>
            <ion-col>
              {{selectedUser.totalPoint}}
            </ion-col>
            <ion-col>
              <span *ngIf="mileageOrStamp">{{selectedUser.mileage | number}}</span>
              <span *ngIf="!mileageOrStamp">{{selectedUser.stampCnt}}</span>
            </ion-col>
          </ion-row>
          <ion-row class="text" *ngIf="selectedUser.userNo == ''">
            <div>회원을 선택해 주세요</div>
          </ion-row>
        </div>
        <ion-row class="two-btn">
          <ion-col col-8>
            <div class="saveSth-checked" *ngIf="mileageOrStamp && saveOrUse == true">마일리지 적립</div>
            <div class="saveSth" *ngIf="mileageOrStamp&& saveOrUse == false" (click)="initialize(true)">마일리지 적립</div>
            <div class="saveSth-checked" *ngIf="!mileageOrStamp && saveOrUse == true">스탬프 적립</div>
            <div class="saveSth" *ngIf="!mileageOrStamp&& saveOrUse == false" (click)="initialize(true)">스탬프 적립</div>
          </ion-col>
          <ion-col col-8>
            <div class="useSth" *ngIf="saveOrUse == true" (click)="initialize(false)">사용</div>
            <div class="useSth-checked" *ngIf="saveOrUse == false">사용</div>
          </ion-col>
        </ion-row>
        <div [hidden]="!(mileageOrStamp&& saveOrUse == true)">
          <ion-row class="checkcheck">
            <ion-col col-8>
              <div class="cardCheck" (click)="cardOrCash(0)">
                <check-box [(checked)]="checkOrNot[0]" [checkColor]="'blue'"></check-box> &nbsp;
                <span>카드</span>
              </div>
            </ion-col>
            <ion-col col-8>
              <div class="cashCheck" (click)="cardOrCash(1)">
                <check-box [(checked)]="checkOrNot[1]" [checkColor]="'blue'"></check-box> &nbsp;
                <span>현금</span>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="save-ratio">
                <div class="plus-minus" (click)="mileagePM('-')"> - </div>
                <div *ngIf="mileageOrStamp">
                  <numpad-input2 #saveMile [(value)]="saveRatio" (valueChange)="valueChange($event)" (click)="whichNumpad(2)"></numpad-input2>
                </div>
                <div class="plus-minus" (click)="mileagePM('+')">+</div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="totalSth">
            <div>
              <ion-row>
                <ion-col col-7 class="text">
                  적립 마일리지 :
                </ion-col>
                <ion-col col-9>
                  <ion-icon name="cp-won"></ion-icon> {{beforemileage}}
                </ion-col>
              </ion-row>
            </div>
          </ion-row>
        </div>
        <div [hidden]="!(mileageOrStamp&& saveOrUse == false)">
          <ion-row class="input-text">
            <ion-col col-8>
              <div class="left">포항포인트 사용</div>
            </ion-col>
            <ion-col col-8>
              <div class="right">마일리지 사용</div>
            </ion-col>
          </ion-row>
          <ion-row class="membership-input-box">
            <div class="input-left">
              <div class="membership-input">
                <numpad-input #usePoint1 [(value)]="pointToUse" (valueChange)="valueChange($event)" (click)="whichNumpad(1)"></numpad-input>
              </div>
              <div class="input-clear" (click)="inputClear(true)">×</div>
              <div class="use-all" (click)="useAll(true)">모두사용</div>
            </div>
            <div class="input-right">
              <div class="membership-input">
                <numpad-input [(value)]="mileageToUse" (valueChange)="valueChange($event)" (click)="whichNumpad(1)"></numpad-input>
              </div>
              <div class="input-clear" (click)="inputClear(false)">×</div>
              <div class="use-all" (click)="useAll(false)">모두사용</div>
            </div>
          </ion-row>
          <ion-row class="totalSth2">
            <div>
              <ion-row>
                <ion-col col-6 class="text">합계 :
                </ion-col>
                <ion-col col-10>
                  <ion-icon name="cp-won"></ion-icon> {{pointPlusMileage}}
                </ion-col>
              </ion-row>
            </div>
          </ion-row>
        </div>
        <div [hidden]="!(!mileageOrStamp&& saveOrUse == true)">
          <ion-row>
            <ion-col>
              <div class="save-ratio">
                <div class="plus-minus" (click)="stampPM('-')"> - </div>
                <div *ngIf="!mileageOrStamp">
                  <numpad-input #saveStamp [(value)]="stampToSave" (valueChange)="valueChange($event)" (click)="whichNumpad(2)"></numpad-input>
                </div>
                <div class="plus-minus" (click)="stampPM('+')">+</div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="totalSth3">
            <div>
              <ion-row>
                <ion-col col-8 class="text">
                  적립 스탬프 :
                </ion-col>
                <ion-col col-8>
                  {{stampToSave}}
                </ion-col>
              </ion-row>
            </div>
          </ion-row>
        </div>
        <div [hidden]="!(!mileageOrStamp&& saveOrUse == false)">
          <ion-row class="info-text">
            <div>* 포항포인트와 스탬프 중복 사용이 불가능합니다.</div>
          </ion-row>
          <ion-row class="input-text2">
            <ion-col col-7>
              <div class="left2">포항포인트 사용</div>
            </ion-col>
            <ion-col col-9>
              <div class="right2">스탬프 사용</div>
            </ion-col>
          </ion-row>
          <ion-row class="useStamp">
            <ion-col col-7>
              <div>
                <div class="blank"></div>
                <div class="membership-input">
                  <numpad-input #usePoint2 [(value)]="pointToUse" (click)="whichNumpad(1)"></numpad-input>
                </div>
                <div class="input-clear" (click)="inputClear(true)">×</div>
                <div class="use-all" (click)="useAll(true)">모두사용</div>
              </div>
            </ion-col>
            <ion-col col-9>
              <div>
                <div class="blank2"></div>
                <select item-right [(ngModel)]="selectedStampIdx" (change)="stampClicked($event)">
                        <option value="-1">교환상품을 선택하세요.</option>
                        <option *ngFor="let item of stampList ;let idx = index;"  [value]="idx" >{{item.exchange}} - {{item.unit}}개</option>
                    </select>
                <div class="save-ratio2">
                  <div class="plus-minus" (click)="stampPM('-')"> - </div>
                  <div *ngIf="!mileageOrStamp">
                    <numpad-input [(value)]="selectedStamp.unit" (valueChange)="valueChange($event)" (click)="whichNumpad(2)" ></numpad-input>
                  </div>
                  <div class="plus-minus" (click)="stampPM('+')">+</div>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="totalSth4">
            <div>
              <ion-row>
                <ion-col col-6 class="text">
                  합계 :
                </ion-col>
                <ion-col col-10>
                  <ion-icon name="cp-won"></ion-icon> {{pointToUse}}
                  <!--{{stampToSave}}-->
                </ion-col>
              </ion-row>
            </div>
          </ion-row>
        </div>
        <div class="okay-background">
          <span class="okay" *ngIf="mileageOrStamp" (click)="saveComplete()">확인</span>
          <span class="okay" *ngIf="!mileageOrStamp" (click)="saveComplete()">확인</span>
        </div>
      </div>
      <!--</ion-content>    -->
    </div>
  </div>
  <div class="right" *ngIf="selectedNumpad==1">
    <numpad [length]="11"></numpad>
  </div>
  <div class="right" *ngIf="selectedNumpad==2">
    <numpad2></numpad2>
  </div>
  <div class="rightest">
  </div>
</ion-row>