page-one-input-alert {
    .scroll-content {
        background: #f7f7f7;
    }

    .alert-content {
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 3% 0px;
        
        .input-section {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 35%;
            margin: 0px auto;
            
            .label {
                margin-bottom: 10px;
                color: #a9abae;
            }

            input {
                padding: 17px 20px;
                border: 1px solid #a9abae;
                border-radius: 5px;
                font-size: 1.6rem;
                color: #19456d;

                @media screen and (max-width: 1366px) {
                    padding: 10px 15px;
                }
            }
        }
    }

    .confirm-btns {
        flex-shrink: 0;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;

        div {
            flex-basis: 35%;
            padding: 11px 0px;
            color: white;
            border-radius: 20px;
            text-align: center;
            margin: 0px 10px;
            font-size: 1.6rem;
        }
        .cancel-btn {
            background: #bdbec0;
        }
        .confirm-btn {
            background: linear-gradient(90deg, #fd7773, #eb505e);
        }
    }
}
