page-save-stamp-container {
    background: #f7f7f7;
    border-radius: 20px;
    text-align: center;

    .main-container {
        width: 50%;
        display: table;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        @media(max-width: 1366px) {
            margin-top: 10px !important;
        }

        .main {
            margin-bottom: 15px;
            @media(max-width: 1366px) {
                margin-bottom: 20px;
            }

            div {
                margin: 10px;
                @media(max-width: 1366px) {
                    margin: 0px;
                }
            }

            .first-line {
                color: #19456c;
                margin: 20px 30px 30px 30px;
                font-size: 1.6rem;
                @media (max-width: 1366px) {
                    margin-top: 20px !important;
                    margin: 10px;
                    font-size: 1.9rem !important;
                }
            }

            .second-line {
                color: #929395;
                font-size: 1.4rem;
            }

            .third-line {
                color: #fd6366;
                font-size: 1.5rem;

                ion-row {
                    ion-col {
                        div {
                            margin-top: 0px;
                            @media(max-width: 1366px) {
                                margin: 5px;
                            }
                        }

                        .third-first-col {
                            text-align: right;
                            font-size: 1.4rem;
                            padding-top: 4px !important;
                            @media(max-width: 1366px) {
                                text-align: right !important;
                            }
                        }

                        .third-second-col {
                            text-align: left;
                            font-size: 1.6rem;
                            padding-left: 15px;
                            @media(max-width: 1366px) {
                                font-size: 1.9rem !important;
                                padding-left: 10px;
                            }
                        }
                    }
                }
            }
        }

        .okay-background {
            background: #f7f7f7;
            margin-top: 10px ;
            margin-bottom: 20px;
            @media(max-width: 1366px) {
                margin-top: 0px;
            }
        }

        .okay {
            color: white;
            background: #fd6366;
            text-align: center;
            border: 1px solid;
            border-radius: 15px;
            padding: 15px 100px 15px 100px;
            display: table;
            margin-left: auto;
            margin-right: auto;
            font-size: 1.6rem;
            @media (max-width: 1366px) {
                padding: 10px 70px 10px 70px;
                font-size: 1.8rem;
            }
        }
    }
}
