page-image-cropper {
    .scroll-content {
        background: #f7f7f7 !important;
    }

    ion-content {
        height: 100%;

        .blank {
            height: 10% !important;
        }

        .main {
            height: 70% !important;
        }

        .foot {
            height: 20% !important;
            ion-row {
                ion-col {
                    width: 50%;

                    div {
                        display: table;
                        margin-right: auto;
                        margin-left: auto;
                        margin-top: 20px;
                        color: white;
                        text-align: center;
                        border-radius: 20px;
                        width: 205px;
                        height: 55px;
                        font-size: 1.8rem;
                        padding: 15px;
                        @media (max-width: 1366px) {
                            margin-top: 20px;
                            width: 190px;
                            height: 50px;
                            font-size: 1.7rem;
                        }
                    }

                    .cancel {
                        background: #bcbec0;
                        transform: translateX(15px);
                    }

                    .complete {
                        background: #fd6366;
                        transform: translateX(-15px);
                    }
                }
            }
        }
    }
}
