<!--
  Generated template for the ImageCropperPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <alert-header [title]="pageTitle" (closeAction)="closeModal($event);"></alert-header>
</ion-header>

<ion-content padding>
  <ion-content class="blank">
  </ion-content>
  <div class="main">
    <img class="img-data" #image [src]="imageData" />
  </div>
  <ion-content class="foot">
    <ion-row>
      <ion-col>
        <div class="cancel" (click)="closeModal()">취소</div>
      </ion-col>
      <ion-col>
        <div class="complete" (click)="cropComplete()">완료</div>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-content>
