@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin makeIcon($arg, $val) {
  .#{$arg}:before ,
  .ion-ios-#{$arg}:before ,
  .ion-ios-#{$arg}-outline:before ,
  .ion-md-#{$arg}:before ,
  .ion-md-#{$arg}-outline:before  {
    content: $val;

    font-size: 6px;
    @media (min-width: 1367px) {
        font-size: 13px;
    }
    @media (min-width: 961px) and (max-width: 1366px) {
        font-size: 10px;
    }
  }
}

@include makeIcon(cp-add, "\e900");
@include makeIcon(cp-add-category, "\e901");
@include makeIcon(cp-add-memo, "\e902");
@include makeIcon(cp-add-menu, "\e903");
@include makeIcon(cp-add-set-menu, "\e904");
@include makeIcon(cp-add-table, "\e905");
@include makeIcon(cp-alarm, "\e906");
@include makeIcon(cp-album, "\e907");
@include makeIcon(cp-album-horizontal, "\e908");
@include makeIcon(cp-album-vertical, "\e909");
@include makeIcon(cp-alert, "\e90a");
@include makeIcon(cp-cancel-end, "\e90b");
@include makeIcon(cp-cancel-pay, "\e90c");
@include makeIcon(cp-card, "\e90d");
@include makeIcon(cp-cash, "\e90e");
@include makeIcon(cp-cash-print, "\e90f");
@include makeIcon(cp-ceo, "\e910");
@include makeIcon(cp-change-log, "\e911");
@include makeIcon(cp-change-pay, "\e912");
@include makeIcon(cp-check, "\e913");
@include makeIcon(cp-check-box1, "\e914");
@include makeIcon(cp-check-box2, "\e915");
@include makeIcon(cp-comment, "\e916");
@include makeIcon(cp-curved-arrow, "\e917");
@include makeIcon(cp-delete, "\e918");
@include makeIcon(cp-delete-category, "\e919");
@include makeIcon(cp-delete-keyboard, "\e91a");
@include makeIcon(cp-delete-menu, "\e91b");
@include makeIcon(cp-delivery, "\e91c");
@include makeIcon(cp-dis1, "\e91d");
@include makeIcon(cp-dis2, "\e923");
@include makeIcon(cp-dis-percent, "\e924");
@include makeIcon(cp-dis-won, "\e925");
@include makeIcon(cp-download, "\e926");
@include makeIcon(cp-each-item, "\e927");
@include makeIcon(cp-each-item-log, "\e928");
@include makeIcon(cp-edit-delete, "\e929");
@include makeIcon(cp-edit-menu, "\e92b");
@include makeIcon(cp-edit-sale, "\e92c");
@include makeIcon(cp-end, "\e92d");
@include makeIcon(cp-end-day, "\e92e");
@include makeIcon(cp-faq, "\e92f");
@include makeIcon(cp-good, "\e930");
@include makeIcon(cp-home1, "\e931");
@include makeIcon(cp-home2, "\e932");
@include makeIcon(cp-id, "\e933");
@include makeIcon(cp-id-pw, "\e934");
@include makeIcon(cp-internal-storage, "\e935");
@include makeIcon(cp-log, "\e936");
@include makeIcon(cp-logout, "\e937");
@include makeIcon(cp-look, "\e938");
@include makeIcon(cp-membership, "\e939");
@include makeIcon(cp-menu, "\e93a");

@include makeIcon(cp-mileage, "\e93b");
@include makeIcon(cp-money-storage, "\e93c");
@include makeIcon(cp-move-table, "\e93d");
@include makeIcon(cp-notice, "\e93e");
@include makeIcon(cp-point, "\e93f");
@include makeIcon(cp-print, "\e940");
@include makeIcon(cp-pw, "\e941");
@include makeIcon(cp-recent, "\e942");
@include makeIcon(cp-register, "\e943");
@include makeIcon(cp-review, "\e944");
@include makeIcon(cp-sale, "\e945");
@include makeIcon(cp-sale-log, "\e946");
@include makeIcon(cp-save-mileage, "\e947");
@include makeIcon(cp-save-point, "\e948");
@include makeIcon(cp-search, "\e94b");
@include makeIcon(cp-select-date, "\e94c");
@include makeIcon(cp-set-push, "\e94d");
@include makeIcon(cp-setting, "\e94e");
@include makeIcon(cp-shopping-bag, "\e94f");
@include makeIcon(cp-system-setting, "\e950");
@include makeIcon(cp-take-picture, "\e951");
@include makeIcon(cp-tel, "\e952");
@include makeIcon(cp-wating-take-out, "\e953");
@include makeIcon(cp-won, "\e954");