page-order-table {
    .scroll-content {
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .fixed-content {
        margin: 7.5rem 16px 40px 16px !important;
    }
    .left-content {
        position: relative;
        background-color: ivory;
        border: 5px solid white;
        max-height: 100%;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }

        .menu-item-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 8px 4px;

            .menu-item {
                position: relative;
                padding: 0px;
                flex-basis: 25%;

                .stock-warn {
                    position: absolute;
                    top: 5px;
                    left: 14px;
                    width: 3.6rem;
                    height: auto;
                    z-index: 100099;
            
                    .table-name {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        color: white;
                        transform: translate(-50%, -60%);
                    }
                }
                
                .menu-item-inner {
                    background: #fbfbfb;
                    position: relative;
                    margin: 5px;
                    padding: 5px;
                    background: white;
                    box-shadow: 5px 5px 18px 1px rgba(0, 0, 0, 0.08);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
            
                    .table-total {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 10;
                        background: #fd8581;
                        color: white;
                        padding: 10px 7px;
                        word-break: keep-all;
                    }
                }     
                .selected {
                    background: #faea7c !important;
                }        
            }
        }
    }
}
