<ion-header>
    <alert-header [title]="title" (closeAction)="close(false);"></alert-header>
</ion-header>
<ion-content>
  <div class="menu-title">
    1. <ng-container *ngIf="item">변경할 </ng-container>테이블 종류를 선택해주세요.
  </div>
  <div class="table-container">
    <div class="table-item">
      <div class="table-img">
        <img src="assets/images/table-rect.png" alt="">
      </div>
      <div class="check-box" [ngClass]="{'selected': rectChecked}">
        <check-box [(checked)]="rectChecked" (checkedChange)="circleChecked = !rectChecked" [checkColor]="'red'"></check-box> 사각형 테이블
      </div>
    </div>
    <div class="table-item">
      <div class="table-img">
        <img src="assets/images/table-circle.png" alt="">
      </div>
      <div class="check-box" [ngClass]="{'selected': circleChecked}">
        <check-box [(checked)]="circleChecked" (checkedChange)="rectChecked = !circleChecked" [checkColor]="'red'"></check-box> 원형 테이블
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="menu-title">
    2. <ng-container *ngIf="item">변경할 </ng-container>테이블 번호를 선택해주세요.
  </div>
  <div class="number-picker-container">
    <div class="center">
      <div class="plus-minus" (click)="pm('-')">-</div>
      <div class="number-text">
        {{tableNo | number}}
      </div>
      <div class="plus-minus" (click)="pm('+')">+</div>
    </div>
  </div>
  <div class="confirm-btns">
    <div class="cancel-btn" (click)="close(false)">
      취소
    </div>
    <div class="confirm-btn" *ngIf="!item" (click)="post()">
      확인
    </div>
    <div class="confirm-btn" *ngIf="item" (click)="put()">
      확인
    </div>
  </div>
</ion-content>