<ion-header>
  <alert-header [title]="title" (closeAction)="close(false);"></alert-header>
  <div class="backdrop" *ngIf="floatEnabled || showMenuDrop"></div>
</ion-header>
<ion-content>
  <div class="recent-menu" (click)="recentMenu()">
    <ion-icon name="cp-delete"></ion-icon> 최근 삭제 메뉴
  </div>
  <div class="main-info">
    <div class="menu-img">
      <img [src]="!setMenuImg ? 'assets/images/default-menu.png' : setMenuImg" alt="">
      <div class="float-content" [ngClass]="{'menu-open': floatEnabled}" [ngStyle]="{'z-index': (showMenuDrop || !floatEnabled)? '1':'999999'}">
        <div class="float-menu">
          <div class="menu-item" (click)="takePic();">
            <ion-icon name="cp-take-picture"></ion-icon>사진 찍기
          </div>
          <div class="menu-item" (click)="getPic();">
            <ion-icon name="cp-album"></ion-icon>앨범에서 선택
          </div>
        </div>
        <div class="float-btn" (click)="floatEnabled = !floatEnabled">
          <img src="assets/images/plus.png" alt="">
        </div>
      </div>
    </div>
    <div class="top-container">
      <div class="select-menu-box" [ngStyle]="{'z-index': (floatEnabled || !showMenuDrop)? '1':'999999'}" *ngIf="!showMenuSummury">
        <div class="select-box-container">
          <div class="select-box" (click)="showMenuDrop = !showMenuDrop;">
            메뉴 선택
          </div>
          <div class="options" *ngIf="showMenuDrop">
            <ion-scroll scrollY="true">
              <div class="list-row item" *ngFor="let item of allMenu; let i = index;" [ngClass]="{'selected': item.checked}">
                <div class="top-check-box">
                  <check-box [(checked)]="item.checked" (checkedChange)="checkedChange(item)" [checkColor]="'red'"></check-box>
                </div>
                <div class="name">
                  {{item.name[lang]}}
                </div>
                <div class="price">
                  {{item.saleAmt | number}}{{won | translate}}
                </div>
                <div class="cnt">
                  <div class="plus-minus" (click)="pm('-', item)">-</div>
                  <div class="number-text" [ngClass]="{'selected': item.checked}">
                    {{item.cnt ? item.cnt : 1 | number}}
                  </div>
                  <div class="plus-minus" (click)="pm('+', item)">+</div>
                </div>
              </div>
            </ion-scroll>
            <div class="menu-info">
              <div class="list-container">
                <div class="selected-list">
                  &nbsp;
                  <span *ngFor="let item of itemSelected; let isLast = last">
                    {{item.name[lang]}}
                    <ng-container *ngIf="item.cnt > 1">({{item.cnt}})</ng-container> 
                    <span *ngIf="!isLast">&nbsp;+&nbsp;</span> 
                  </span>
                </div>
                <div class="total-price">
                  총 {{totalPrice | number}}원
                </div>
              </div>
              <div class="opt-btns">
                <div class="btn cancel" (click)="selectMenu(0)">
                  취소
                </div>
                <div class="btn ok" (click)="selectMenu(1)">
                  완료
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="summury-selected-menu" *ngIf="showMenuSummury">
        <div class="menu-list-container">
          <div class="list">
            <span *ngFor="let item of itemSelected; let isLast = last">
              {{item.name[lang]}}
              <ng-container *ngIf="item.cnt > 1">({{item.cnt}})</ng-container>
              <span *ngIf="!isLast">&nbsp;+&nbsp;</span>
            </span>
          </div>
          <ion-icon name="cp-delete" (click)="initialize()"></ion-icon>
        </div>
        <div class="total-price">
          총 {{totalPrice | number}}{{won | translate}}
        </div>
      </div>
      <div class="menu-info-input">
        <div class="input-row">
          <div class="input-item">
            <div class="label">
              * 카테고리
            </div>
            <div class="select-box-container" [ngStyle]="{'z-index': (floatEnabled || showMenuDrop)? '1':'999999'}">
              <div class="select-box" (click)="showDrop = !showDrop">
                <ng-container *ngIf="categories.length > 0">
                  {{categories[selectedCategoryIdx].name[lang]}}
                </ng-container>
              </div>
              <div class="options" *ngIf="showDrop">
                <div class="item" *ngFor="let item of categories; let i = index;" (click)="selectedCategoryIdx = i; showDrop = false">
                  {{item.name[lang]}}
                </div>
              </div>
            </div>
          </div>
          <div class="input-item">
            <div class="label">
              * 메뉴명
            </div>
            <input type="" name="" value="" [(ngModel)]="newItem.name[lang]">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-info">
    <div class="set-sales-amt">
      <div class="input-item">
        <div class="label">
          판매 수량 설정
        </div>
        <input type="number" name="" value="" [(ngModel)]="newItem.stockCNT">
      </div>
    </div>
    <div class="input-row">
      <div class="input-item">
        <div class="label">
          * 단가
        </div>
        <input type="number" name="" value="" [(ngModel)]="newItem.unitPrice">
      </div>
      <div class="input-item">
        <div class="label">
          * 판매금액
        </div>
        <input type="number" name="" value="" [(ngModel)]="newItem.saleAmt">
      </div>
    </div>
  </div>
  <div class="guide">
    <ion-icon name="cp-pw"></ion-icon>
    <div>
      판매 목표 수량을 설정합니다.<br/>도달하면 품목이 자동잠금 됩니다.
    </div>
  </div>
  <div class="bottom-container">
    <div class="lock-menu">
      메뉴 임시잠금 <ion-toggle [(ngModel)]="locked" [disabled]="!newItem.menuNo"></ion-toggle>
    </div>
    <div class="input-item code">
      <div class="label">
        * 메뉴코드
      </div>
      <input type="" name="" value="" [(ngModel)]="newItem.menuCode">
    </div>
  </div>
  <div class="confirm-btns">
    <div class="cancel-btn" (click)="close(false)">
      취소
    </div>
    <div class="confirm-btn" (click)="complete()">
      확인
    </div>
  </div>
  <div class="backdrop" *ngIf="floatEnabled || showMenuDrop"></div>
</ion-content>