material-datepicker {
    .datepicker {
        position: relative;
        display: inline-block;
        color: #2b2b2b;
        font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'Calibri', 'Roboto';
    }

    .not-this-month {
        color: lightgray !important;
        cursor: default !important;
    }

    .datepicker__calendar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        z-index: 1000;
        width: 100%;
        height: 100%;
        margin: auto;
        font-size: 20px;
        cursor: default;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .datepicker__calendar__nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #19456d;
        margin-top: 50px;
        font-size: 1.9rem;
        @media (max-width: 1366px) {
            margin-top: 25px;
        }

        .datepicker__calendar__nav__arrow {
            margin: 0px 30px;
            font-size: 3rem;
        }
    }

    .datepicker__calendar__content {
        .datepicker__calendar__labels {
            height: 50px;
            padding-bottom: 30px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin: 0 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #ced3d9;

            .datepicker__calendar__label {
                display: inline-block;
                width: 14%;
                height: 2.2em;
                line-height: 2.2em;
                text-align: center;
            }
        }
        
        .datepicker__calendar__month {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin: 0 20px;
            -ms-flex-flow: wrap;
            flex-flow: wrap;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;

            .datepicker__calendar__month__day {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 14%;
                -webkit-transition: 0.37s;
                transition: 0.37s;

                .day-item {
                    font-size: 1.8rem;
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    text-align: center;
                    border-radius: 50%;
                    .end-icon{
                        width: 60px;
                        height: 60px;
                        color: #19456d;
                        position: relative;
                        z-index: 10;
                        top:0%;
                        left:0%;
                        transform: translateY(-100%);
                        font-size: 3rem;
                    }
                }

            }
            .day-shadow {
                box-shadow: 4px 4px 22px 0px rgba(0, 0, 0, 0.18);
            }

        }
    }

    .selected-date {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        color: #ef5963;
        @media (max-width: 1366px) {
            margin-bottom: 25px;
        }
        span {
            margin: 0px 10px;
        }
    }
}