<div class="datepicker__calendar">
	<div class="datepicker__calendar__nav">
		<div class="datepicker__calendar__nav__arrow" (click)="onArrowClick('left')" >
			<
		</div>
		<div class="datepicker__calendar__nav__header">
			<span>{{currentYear}}</span>년&nbsp;
			<span>{{currentMonth}}</span>월
		</div>
		<div class="datepicker__calendar__nav__arrow" (click)="onArrowClick('right')">
			>
		</div>
	</div>
	<div class="datepicker__calendar__content" >
		<div class="datepicker__calendar__labels">
			<div class="datepicker__calendar__label" *ngFor="let day of dayNamesOrdered" >
				{{day}}
			</div>
		</div>
		<!-- 영업개시에서 클릭시 *ngIf="isBegin" -->
		<div *ngIf="isBegin" [@calendarAnimation]="animate" class="datepicker__calendar__month" >
			<div *ngFor="let day of calendarDays" class="datepicker__calendar__month__day" [ngStyle]="{'cursor': day == 0 ? 'initial' : 'pointer', 'color': isHoveredDay(day) ? accentColor : getDayFontColor(day), 'pointer-events': day == 0 ? 'none' : ''}" [ngClass]="{'not-this-month': !compareYM(day)}" (click)="onSelectDay(day)">
				<div class="day-item" *ngIf="day != 0" [ngStyle]="{'background-color': getDayBackgroundColor(day)}" [ngClass]="{'day-shadow': isChosenDay(day)}" >
					{{day.getDate()}}
					<!-- <div class="end-icon" >  <ion-icon name="ios-calendar-outline"></ion-icon>
					</div> -->
				</div>
			</div>
		</div>
		<!-- 영업개시외... *ngIf="!isBegin" -->
		<div *ngIf="!isBegin" [@calendarAnimation]="animate" class="datepicker__calendar__month" >
				<div *ngFor="let day of calendarDays" class="datepicker__calendar__month__day" [ngStyle]="{'cursor': day == 0 ? 'initial' : 'pointer', 'color': isHoveredDay(day) ? accentColor : getDayFontColor(day), 'pointer-events': day == 0 ? 'none' : ''}"  [ngClass]="{'not-this-month': !compareYM(day)}" (click)="onSelectDay(day)">
					<div class="day-item" *ngIf="day != 0" [ngStyle]="{'background-color': getDayBackgroundColor(day)}" [ngClass]="{'day-shadow': isChosenDay(day)}">
						{{day.getDate()}}
					</div>
				</div>
			</div>
	</div>
	<div class="selected-date">
		<span>{{date | date:'y.MM.dd'}} ({{dayNames[date.getDay()]}})</span>
		<span class="ok-sm-btn" (click)="selectDate()">
			확인
		</span>
	</div>
</div>