<!--
  Generated template for the SalesMenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <alert-header [title]="title" (closeAction)="close();"></alert-header>
</ion-header>
<ion-content padding>
  <div class="menu-container">
    <div class="menu-list">
      <div class="table-container">
        <ion-grid class="table-header">
          <ion-row>
            <ion-col col-4>
              결제구분
            </ion-col>
            <ion-col col-4>
              금액
            </ion-col>
            <ion-col col-4>
              매입사명
            </ion-col>
            <ion-col col-4>
              승인번호
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="table-body">
          <ion-scroll scrollY="true">
            <ion-row *ngFor="let item of data; let idx = index; let isLast = last;">
              <div class="pay-checked" *ngIf="item.checked" (click)="selectOrder(idx)"></div>
              <ion-col (click)="selectOrder(idx)" col-4>
                <check-box class="onego-checkbox" [(checked)]="item.checked" [checkColor]="'blue'"></check-box>
                {{item.payType}}
              </ion-col>
              <ion-col (click)="selectOrder(idx)" col-4>
                <ion-icon name="cp-won"></ion-icon> {{item.amt | number}}
              </ion-col>
              <ion-col (click)="selectOrder(idx)" col-4>
                {{(item.cardCompany ? item.cardCompany : '매입사명')}}
              </ion-col>
              <ion-col (click)="selectOrder(idx)" col-4>
                {{(item.approvalNo ? item.approvalNo : '-')}}
              </ion-col>
            </ion-row>  
            <div class="more-load" *ngIf='total - data.length > 0' (click)="doInfinite()"> <ion-icon name="add"></ion-icon> 더보기 </div>
          </ion-scroll>
        </ion-grid>
      </div>
      <div class="foot">
        <ion-row>
          <hr class="vertical">
        </ion-row>
        <ion-row class="sum">
          <ion-col col-5> 카드번호 : </ion-col>
          <ion-col col-11> {{cardNum}} </ion-col>
        </ion-row>
        <ion-row>
          <hr class="vertical">
        </ion-row>
      </div>
      <div class="btn-area">
        <button class="pay-btns" (click)="goPayDelete()" type=""> <ion-icon name="cp-cancel-pay"></ion-icon>  결제취소</button>
        <button class="pay-btns" (click)="goPayModify()" type=""> <ion-icon name="cp-change-pay"></ion-icon>  결제수단변경</button>
        <button class="pay-btns" (click)="cashPrint()" type=""> <ion-icon name="cp-cash-print"></ion-icon> 현금영수증</button>
        <button class="pay-btns" (click)="receiptPrint()" type=""> <ion-icon name="cp-print"></ion-icon>  영수증출력</button>
      </div>
    </div>
  </div>
</ion-content>

