page-begin-confirm-alert {
    .scroll-content {
        background: #f7f7f7;
    }

    .alert-content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        .text-content-section {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .big-font-content {
                color: #eb505e;
                font-size: 2rem;
                margin: 30px 40px 30px 10px;

            }

        }
    }

    .confirm-btns {
        flex-shrink: 0;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;

        padding: 10px 0px 40px 0px;

        @media (max-width: 1366px) {
            padding: 10px 0px 20px 0px;
        }

        div {
            flex-basis: 33%;
            padding: 15px 0px;
            color: white;
            border-radius: 20px;
            text-align: center;
            margin: 0px 20px;
        }
        .cancel-btn {
            background: #bdbec0;
        }
        .confirm-btn {
            background: linear-gradient(90deg, #fd7773, #eb505e);
        }
    }
}
