page-order-dc {
    .scroll-content{
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .fixed-content {
        margin: 57px 16px 40px 16px;
    }

    .category-container {
        background: #d3d3d3;
        color: #8c8c8c;
        
        .category-content {
            .category-item {
                border-bottom: 7px #d3d3d3 solid;
            }
        }

        .edit-btn {
            opacity: 1 !important;
            z-index: 9999999999999999;
            color: #19456d;
        }
        
        &.edit-mode {
            .category-item {
                border-bottom: 7px #333333 solid !important;
            }
        }

        .backdrop {
            border-radius: 20px 20px 0px 0px;
        }
    }

    .left-content {
        position: relative;
        background-color: ivory;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        border: 5px solid white;

        .menu-item-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .menu-item {
                position: relative;
                padding: 0px;
                flex-basis: 25%;

                .menu-item-inner {
                    position: relative;
                    margin: 5px;
                    padding: 15px;
                    background: white;
                    box-shadow: 5px 5px 18px 1px rgba(0, 0, 0, 0.08);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    .menu-image {
                        position: relative;
                        width: 100%;
                        overflow: hidden;
                        margin: 0px auto;

                        img {
                            border-radius: 8px;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        .menu-price {
                            position: absolute;
                            z-index: 10;
                            top: 50%;
                            left: 50%;
                            width: 100%;
                            text-align: center;
                            transform: translate(-50%, -50%);
                            color: white;
                            font-size: 2rem;
                        }
                    }
                    .menu-name {
                        margin-top: 5px;
                        text-align: center;
                        color: #30587c;
                    }
                }
                .selected {
                    background: #faea7c;
                }   
            }
        }
    }
}
