page-message-alert {
    .scroll-content {
        background: #f7f7f7;
    }

    .alert-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        min-height: 200px;
        color: #eb505e;            
        @media (max-width: 1366px) {
            min-height: 180px;
        }

        width: 55%;
        margin: auto;

        &.gray{
            color: #6D6E70;
            }

        .icon {
            ion-icon::before {
                font-size: 3.5rem;
            }
        }
        .message {
            margin: 0 20px !important;
            word-break: keep-all;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 30px;
            @media (max-width: 1366px) {
                margin-bottom: 15px;
            }
        }

        .confirm-btn {
            background: linear-gradient(90deg, #fd7773, #eb505e);
            padding: 15px 80px;
            color: white;
            border-radius: 20px;
        }
    }
}
