<ion-header>
  <alert-header [title]="title" (closeAction)="close(false);"></alert-header>
  <div class="backdrop" *ngIf="floatEnabled"></div>
</ion-header>
<ion-content>
  <div class="menu-item-container">
    <div class="menu-item" square *ngFor="let item of menus; let i = index;">
      <div class="menu-item-inner" [ngClass]="{'selected': selectedMenuIdx == i}" square (click)="selectedMenuIdx = i">
        <div class="menu-image">
          <img [src]="item.thumbnailS ? item.thumbnailS : 'assets/images/default-menu.png'" alt="">
          <div class="menu-price">
            {{item.saleAmt | number}}원
          </div>
        </div>
        <div class="menu-name">
          {{item.menuName}}
        </div>
      </div>
    </div>
  </div>
  <div class="confirm-btns">
    <div class="cancel-btn" (click)="deleteMenu()">
      영구삭제
    </div>
    <div class="confirm-btn" (click)="restoreMenu()">
      상품복구
    </div>
  </div>
</ion-content>