page-deleted-menu {
    .scroll-content {
        background: #f7f7f7;
        padding: 30px 40px !important;
        justify-content: space-between;
    }

    .menu-item-container {
        overflow-y: scroll;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        overflow: scroll;

        .menu-item {
            position: relative;
            padding: 0px;
            flex-basis: 30%;
            margin: 15px auto;

            .menu-item-inner {
                position: relative;
                margin: 5px;
                padding: 5px;
                background: white;
                box-shadow: 5px 5px 18px 1px rgba(0, 0, 0, 0.08);
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .menu-image {
                    position: relative;
                    width: 90%;
                    height: 70%;
                    overflow: hidden;
                    margin: 0px auto;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .menu-price {
                        position: absolute;
                        z-index: 10;
                        bottom: 0;
                        right: 0;
                        background: linear-gradient(90deg, rgba(#f87f7c, 0.8), rgba(#df6974, 0.8));
                        color: white;
                        padding: 7px 5px;
                    }
                }
                .menu-name {
                    text-align: center;
                }
            }
            .selected {
                background: #faea7c;
            }
        }
    }

    .confirm-btns {
        flex-shrink: 0;
        width: 100%;
        
        display: flex;
        flex-direction: row;
        justify-content: center;

        margin-top: 15px;

        div {
            flex-basis: 33%;
            padding: 20px 0px;
            color: white;
            border-radius: 20px;
            text-align: center;
            margin: 0px 20px;
            font-size: 1.6rem;
        }
        .cancel-btn {
            background: #6d6e72;
        }
        .confirm-btn {
            background: linear-gradient(270deg, #fd7773, #eb505e);
        }
    }
}
