<!--
  Generated template for the Attr page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>코드 표시 값 설정</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-row>
    <ion-item>
      <ion-row>
        <ion-col>
          번호
        </ion-col>
        <ion-col>
          분류명
        </ion-col>
        <ion-col>
          사용유무
        </ion-col>
        <ion-col>
          비고
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item *ngFor="let item of attrList;">
      <ion-row>
        <ion-col>
          {{item.no}}
        </ion-col>
        <ion-col>
          {{item.codeName}}
        </ion-col>
        <ion-col class="toggle">
          <ion-item>
            <ion-toggle  (ngModelChange)="toggle(item.detailCode)" [(ngModel)]="item.useYN"></ion-toggle>
            {{item.useYN}}
          </ion-item>
        </ion-col>
        <ion-col>        
          {{item.codeTxt}}
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-row>

</ion-content>