<ion-header>
  <alert-header [title]="title" (closeAction)="close(false);"></alert-header>
</ion-header>
<ion-content *ngIf="type=='set'">
  <div class="stamp-title">
    1. 고객에게 보여질 스탬프 혜택을 작성해 주세요.
  </div>
  <textarea class="textarea3" [(ngModel)]="stampText"></textarea>

  <div class="divider"></div>
  <div class="stamp-title">
    2. 스탬프 발행기준을 작성해 주세요.
  </div>
  <div class="stamp-detail">
    <input class="short-input" type="" name="" value="" placeholder="ex)5000" [(ngModel)]="stampSavingAmt"> 원 당 스탬프 1개</div>
  <div class="confirm-btns">
    <div class="cancel-btn" (click)="close(false)">
      취소
    </div>
    <div class="confirm-btn" (click)="modifyStampSet()">
      확인
    </div>
  </div>
</ion-content>

<ion-content *ngIf="type=='attr'">
  <div class="stamp-title">
    1. 교환할 스탬프 개수를 적어주세요.
  </div>
  <input type="number" placeholder="ex)10" [(ngModel)]="stampUnit">
  <div class="divider"></div>
  <div class="stamp-title">
    2. 스탬프와 교환할 메뉴 이름을 적어주세요.
  </div>
  <input placeholder="ex)아메리카노" [(ngModel)]="exchangeText">
  <div class="confirm-btns">
    <div class="cancel-btn" (click)="close(false)">
      취소
    </div>
    <div class="confirm-btn" *ngIf="add" (click)="addStampAttr()">
      등록
    </div>
    <div class="confirm-btn" *ngIf="!add" (click)="modifyStampAttr()">
      수정
    </div>
  </div>
</ion-content>