page-mileage-log {
    .top-background {
        width: 100%;
        height: 25%;
        background: #19456c;
        .cardImage{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                height: 60%;
                width: auto;
                margin-bottom: 15px;
                border-radius: 10px;
                box-shadow: 3px 5px 5px #000;
            }
        }

        .userInfo {
            color: white;
            margin: auto 0px;
            font-size: 1.4rem;

            div {
                display: flex;
                flex-direction: row;

                ion-icon {
                    margin: 0px 10px 0px 0px;
                }

                ion-icon::before {
                    color: #fd6366;
                    font-size: 2rem;
                }

                div {
                    margin: 3px 15px 25px 0px;
                }
            }
        }
    }

    .log-background {
        width: 100%;
        height: 75%;
        top: 25%;
        background: #f7f7f7;

        .content-th {
            background: #5f7d98;
            text-align: center;
            color: white;
            width: 60%;
            border-radius: 15px 15px 0px 0px;
            display: table;
            margin-left: auto;
            margin-right: auto;
            transform: translateY(-15px);
            font-size: 1.5rem;

            .time {
                border-left: 2px solid #d1d3d4;
                border-right: 2px solid #d1d3d4;
            }

            ion-row {
                font-size: 1.5rem;
                margin: 10px 15px;
            }
        }

        .content-tr {
            background: white;
            height: 56%;
            width: 60%;
            text-align: center;
            display: table;
            margin-left: auto;
            margin-right: auto;
            transform: translateY(-15px);
            color: #19456c;
            font-size: 1.5rem;

            ion-row {
                margin: 20px;
            }

            .content-main {
                height: 100%;
                overflow-y: auto;
                color: gray;
            
            }

            .foot{
                color: #FF7675;
                font-size: 1.5rem;
                background-color: white;
                ion-row{
                    margin: 0px
                }
                .sum {
                    text-align: center;
                    justify-content: center;
                    background-color: #F9F9F9;
                    padding: 1rem !important;
                    div:nth-child(1){
                        margin-right: 3rem;
                    }
                }
                .vertical{
                    display: flex;
                    width: 100%;
                    height: 2px;
                    margin: 2px 0;
                    background-color: #F9F9F9;  
                }
            }

            .remain-background {
                height: 20%;
                border-top: 1px solid #d1d3d4;
                margin: 10px 20px 0px 20px;
                padding-top: 10px;


                .remain {
                    font-size: 1.6rem;
                    color: #fd6366;
                    text-align: right;
                }

                .remain-mileage {
                    font-size: 1.9rem;
                    color: #fd6366;
                    text-align: center;
                }
            }
        }

        .okay-background {
            .okay {
                font-size: 1.5rem;
                color: white;
                background: #fd6366;
                padding: 2rem 6rem;
                text-align: center;
                border-radius: 15px;
                display: table;
                margin: 2rem auto 0px auto;
            }
        }
    }

}