<div class="divide-container">
    <div class="divide-list">
        <div class="table-container">
            <ion-grid class="table-header">
                <ion-row>
                    <ion-col *ngIf="blank" col-1>
                    </ion-col>
                    <ion-col class="center" *ngFor="let col of header ;let idx = index;" (click)="dataSort(idx)">
                        {{col}}
                        <div [ngClass]="{'arrow-up': ascendingOrder[idx], 'arrow-down': !ascendingOrder[idx]}"></div>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid class="table-body">
                <ion-scroll scrollY="true">
                    <ion-row *ngFor="let pData of data;let idx = index; ">
                        <ion-col *ngIf="checked" col-1 (click)="selectOrder(idx, pData)">
                            <check-box class="onego-checkbox" [(checked)]="pData.checked" [checkColor]="'red'"></check-box>
                        </ion-col>
                        <ion-col *ngIf="(!checked) && blank" col-1>
                        </ion-col>
                        <ion-col *ngFor="let key of keys;  let i = index;">
                            <div class="menu-name" *ngIf="pData[key]!='복합' && won[i] == false">
                                {{pData[key]}}
                            </div>
                            <div class="menu-name" *ngIf="pData[key]!='복합' && won[i] == true">
                                <ion-icon name="cp-won"></ion-icon> {{pData[key] | number}}
                            </div>
                            <div class="menu-name complex" (click)="OnComplex.emit(pData)" *ngIf="pData[key]=='복합'">
                                {{pData[key]}}
                            </div>
                        </ion-col>
                        <ion-col *ngIf="options.optionalBtn" (click)="OnButtonClicked.emit(pData)">
                            <div class="menu-name">
                                <ion-icon class="eye" name="cp-look"></ion-icon>
                            </div>
                        </ion-col>
                    </ion-row>
                    <div class="more-load" *ngIf='total > data.length' (click)="doInfinite()">
                        <ion-icon name="add"></ion-icon> 더보기 </div>
                </ion-scroll>
            </ion-grid>
        </div>
        <div *ngIf="footer">
            <div>
                <hr class="vertical">
            </div>
            <div class="foot">
                <ion-row>
                    <ion-col col-1>
                    </ion-col>
                    <ion-col>
                        <div class="menu-name">
                            합계
                        </div>
                    </ion-col>
                    <ion-col *ngFor="let col of footer">
                        <div class="menu-name">
                            {{ col | number}}
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <div>
                <hr class="vertical">
            </div>
        </div>
    </div>
</div>