pos-table {
  .divide-container {
    margin-top: 10px;
    height: 60vh;
    flex-basis: 43%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    box-shadow: 5px 3px 5px 2px rgba(214, 214, 214, 0.5) !important;

    .divide-list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0.8rem 3rem 1.5rem 3rem;
      flex-grow: 1;

      .table-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: hidden;

        .table-header {
          flex-shrink: 0;

          ion-row {
            font-size: 1.6rem;
            padding: 1.3rem 0px !important;
            border-bottom: 2px solid #CDCFD0;

            ion-col {
              position: relative;
              align-items: center;

              check-box {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 10px;
              }
            }
          }
        }

        .table-body {
          flex-grow: 1;

          ion-scroll {
            height: 40vh;

            .scroll-content {
              min-height: unset;
              background: white !important
            }
          }

          ion-row {
            border-bottom: #F9F9F9 1px solid;
            font-size: 1.3rem;

            ion-col {
              display: flex;
              height: 5rem;
              text-align: center;
              align-items: center;
              justify-content: center;

              check-box {
                margin-right: 7px;

                ion-icon::before {
                  font-size: 2.1rem;
                }

                .checked {
                  color: #FF7675;
                }

                .unchecked {
                  color: #DEE4E9;
                }
              }
            }

            .menu-name {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start !important;
              text-align: left !important;
              width: 100%;
              margin: 0px 5px 0px 10px;
              color: #7D7D7F;

              &.complex {
                color: #19456D;
                text-decoration: underline;
              }

              ion-icon::before {
                font-size: 1.5rem;
                margin-right: 5px;
              }

              .eye {
                margin-left: 2rem;
              }
            }

            ion-icon {
              text-align: left;
            }

            ion-icon::before {
              font-size: 2.2rem;
            }


          }

          .more-load {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            border: 1px #e9e9e9 solid;
            border-radius: 10px;
            padding: 5px;
            margin: 15px 0;
            width: 8rem;
            left: 50%;
            position: relative;
            transform: translateX(-50%);
            color: #58595B;

            ion-icon {
              font-size: 2rem;
              margin-right: 10px;
            }
          }
        }
      }

      .center {
        display: flex;
        flex-direction: row;
        margin: 0 10px;
        padding: 2rem;

        .arrow-down {
          width: 0;
          height: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-top: 10px solid #FF7675;
          border-radius: 4px;
          margin-left: 1rem;
          position: relative;
        }

        .arrow-up {
          width: 0;
          height: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 10px solid #FF7675;
          border-radius: 4px;
          margin-left: 1rem;
          position: relative;
        }

        .number-text {
          line-height: 50px;
        }

      }

    }

    .vertical {
      width: 100%;
      height: 2px;
      background-color: #F9F9F9;
    }

    .foot {
      background-color: #F9F9F9;
      color: #FF7675;
      font-size: 2rem;

      ion-row {
        ion-col {
          display: flex;
          height: 8vh;
          text-align: center;
          align-items: center;
          justify-content: center;
        }

        .menu-name {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start !important;
          text-align: left !important;
          width: 100%;
          margin: 0px 5px 0px 10px;
        }

      }
    }
  }

}
