<div class="divide-container">
    <div class="divide-list">
        <div class="table-container">
            <ion-grid class="table-header">
                <ion-row>
                    <ion-col class="center" *ngFor="let col of header ;let idx = index;" >
                        {{col}}
                        <div class="arrow-down"></div>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid class="table-body">
                <ion-scroll scrollY="true">
                    <ion-row *ngFor="let pData of data;let idx = index; " (click)="read(idx)">
                        <ion-col>
                            <div class="menu-name">
                                {{idx}}
                            </div>
                        </ion-col>
                        <ion-col>
                            <div class="menu-name">
                                {{pData[keys[0]]}}
                            </div>
                        </ion-col>
                        <ion-col>
                            <div class="menu-name">
                                <ion-toggle (ngModelChange)="toggle(pData)" [(ngModel)]="pData[keys[1]]" class="toggle" ></ion-toggle>
                            </div>
                        </ion-col>
                        <ion-col>
                            <div class="menu-name">
                                -
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-scroll>
            </ion-grid>
        </div>
    </div>
</div>