page-check-member {
    background: white;
    border-radius: 20px;

    .main {
        // background: white; 잠만
        margin-top: 10px;
        display: table;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        height: 90%;

        ion-row {
            padding: 20px !important;

            ion-col {
                text-align: center;
            }
        }

        .content-th {
            border-bottom: 3px solid #d1d3d4;
            padding: 15px !important;
            //margin-bottom: 15px !important;
            @media(max-width: 1366px) {
                font-size: 1.6rem;
                padding: 10px 15px 15px 15px !important;
            }
        }

        .content-tr {
            border-bottom: 3px solid #f7f7f7;
            @media(max-width: 1366px) {
                font-size: 1.6rem;
            }
        }
    }
}
