<ion-content>
  <ion-row>
    <ion-col col-1 class="side-tab">
      <div class="item" [ngClass]="{'selected': statType==0 || statType==1}" (click)="statPageChange(0)">
          <ion-icon name="cp-sale-log"></ion-icon> 매출통계
      </div>
      <div class="item" [ngClass]="{'selected': statType==2 || statType==3 || statType==4}" (click)="statPageChange(1)">
          <ion-icon name="cp-card"></ion-icon> 결제관리
      </div>
      <div class="item" [ngClass]="{'selected': statType==5}" (click)="statPageChange(2)">
          <ion-icon name="cp-end"></ion-icon> 마감관리
      </div>
      <div class="item" [ngClass]="{'selected': statType==6}" (click)="statPageChange(3)">
          <ion-icon name="cp-end"></ion-icon> 정산관리
      </div>
    </ion-col>
    <ion-col class="content" col-15>
      <ion-row>
        <ion-col col-1></ion-col>
        <ion-col col-5></ion-col>
        <ion-col col-9>
          <div class="date-area">
            <div class="date-opt-btns">
              <button (click)="selectPeriod(1)" [ngClass]="{'checked': selectedPeriod==1}">오늘</button>
              <button (click)="selectPeriod(2)" [ngClass]="{'checked': selectedPeriod==2}">1주일</button>
              <button (click)="selectPeriod(3)" [ngClass]="{'checked': selectedPeriod==3}">1개월</button>
              <button (click)="selectPeriod(4)" [ngClass]="{'checked': selectedPeriod==4}"> 3개월</button>
            </div>

            <div (click)="clickDatePicker(1)" class="date-picker-section">
              {{startDate|date:'yyyy.MM.dd'}}
              <ion-icon name="cp-select-date"></ion-icon>
            </div>
            <div class="wave"> ~ </div>
            <div (click)="clickDatePicker(2)" class="date-picker-section">
              {{endDate|date:'yyyy.MM.dd'}}
              <ion-icon name="cp-select-date"></ion-icon>
            </div>
          </div>
        </ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1></ion-col>
        <ion-col>
          <div class="filter-area">
            <div class="table-filter">
              <div *ngIf="statType==0 || statType==1" class="filter-btns">
                <button (click)="selectedStatBt(0)" type="" [ngClass]="{'checked':statType==0}"> <ion-icon name="cp-card"></ion-icon> <ion-icon name="cp-dis-won"></ion-icon> 결제수단별</button>
                <button class="each" (click)="selectedStatBt(1)" type="" [ngClass]="{'checked':statType==1}"> <ion-icon  name="cp-each-item"></ion-icon> 상품별</button>
              </div>
              <div *ngIf="statType==2 || statType==3 || statType==4" class="filter-btns">
                <button (click)="selectedStatBt(2)" type="" [ngClass]="{'checked':statType==2}"> <ion-icon name="cp-log"></ion-icon> 결제 내역</button>
                <button (click)="selectedStatBt(3)" type="" [ngClass]="{'checked':statType==3}"> <ion-icon name="cp-cash-print"></ion-icon> 현금영수증 내역</button>
              </div>
            </div>
          </div>
        </ion-col>
        <ion-col col-2>
          <div class="filter-area">
            <div *ngIf="statType==2" class="select-box-container">
              <div class="select-box" (click)="showDrop = !showDrop">
                <ng-container *ngIf="category1.length > 0">
                  {{category1[selectedCategoryIdx]}}
                </ng-container>
              </div>
              <div class="options" *ngIf="showDrop">
                <div class="item" *ngFor="let item of category1; let i = index;" (click)="selectedFilter(1,i)">
                  {{item}}
                </div>
              </div>
            </div>
            <div *ngIf="statType==0" class="select-box-container">
              <div class="select-box" (click)="showDrop = !showDrop">
                <ng-container *ngIf="category2.length > 0">
                  {{category2[selectedCategoryIdx]}}
                </ng-container>
              </div>
              <div class="options" *ngIf="showDrop">
                <div class="item" *ngFor="let item of category2; let i = index;" (click)="selectedFilter(2,i)">
                  {{item}}
                </div>
              </div>
            </div>
            <div *ngIf="statType==1" class="select-box-container">
              <div class="select-box" (click)="showDrop = !showDrop">
                <ng-container *ngIf="category3.length > 0">
                  {{category3[selectedCategoryIdx].categoryName}}
                </ng-container>
              </div>
              <div class="options" *ngIf="showDrop">
                <div class="item" *ngFor="let item of category3; let i = index;" (click)="selectedFilter(3,i)">
                  {{item.categoryName}}
                </div>
              </div>
            </div>
            <!--<div *ngIf="statType==5" class="select-box-container">
              <div class="select-box" (click)="showDrop = !showDrop">
                <ng-container *ngIf="category4.length > 0">
                  {{category4[selectedCategoryIdx]}}
                </ng-container>
              </div>
              <div class="options" *ngIf="showDrop">
                <div class="item" *ngFor="let item of category4; let i = index;" (click)="selectedFilter(4,i)">
                  {{item}}
                </div>
              </div>
            </div>-->
          </div>
        </ion-col>
        <ion-col col-1></ion-col>

      </ion-row>
      <ion-row>
        <ion-col class="margin-col"></ion-col>
        <ion-col *ngIf="statType==0&&statFilter==0">
          <pos-table #table [header]="['결제수단','횟수','실매출','부가세','순매출']" [data]="statData" [keys]="['payType','payCNT','payAmt','payTax','payTotal']"
            [footer]="statSumData" [total]="statTotal" [won]="[false,false,true,true,true]"></pos-table>
        </ion-col>
        <ion-col *ngIf="statType==0&&statFilter==1">
          <pos-table #table [header]="['카드사','횟수','실매출','부가세','순매출']" [data]="statData" [keys]="['cardName','payCNT','payAmt','payTax','payTotal']"
            [footer]="statSumData" [total]="statTotal" [won]="[false,false,true,true,true]" (OnPageChanged)="OnPageChanged($event)"></pos-table>
        </ion-col>
        <ion-col *ngIf="statType==1">
          <pos-table #table [header]="['상품명','수량','실매출','부가세','순매출']" [data]="statData" [total]="statTotal" [keys]="['menuName','menuCNT','payAmt','payTax','payTotal']"
            [footer]="statSumData" (OnPageChanged)="OnPageChanged($event)"></pos-table>
        </ion-col>
        <ion-col *ngIf="statType==2">
          <pos-table #table [checked]=true [header]="['시간','주문번호','테이블번호','결제수단','주문금액','결제금액','상품내역']" [data]="statData" [keys]="['orderDttm','orderNo','tableName','payType','orderAmt','payTotal']"
            (OnPageChanged)="OnPageChanged($event)" [options]="{optionalBtn: true, btnContent: statBtn}" [total]="statTotal" [won]="[false,false,false,false,true,true,false]" (OnButtonClicked)="goOrderDetail($event)"
            (OnSelectOrder)="selectedRowData=$event" (OnComplex)="goComplex($event)"></pos-table>
        </ion-col>
        <ion-col *ngIf="statType==3">
          <pos-table #table [checked]=false [header]="['시간','결제번호','현금영수증 승인번호','금액']" [data]="statData" [total]="statTotal" [keys]="['payDttm','payNo','cashPrint','cashAmt']"
          [won]="[false,false,false,true]"  (OnPageChanged)="OnPageChanged($event)"></pos-table>
        </ion-col>
        <ion-col *ngIf="statType==5">
          <pos-table #table [header]="['날짜','영업준비금','현금매출','카드매출','총매출','포인트','M적립','M발급','상품보기']" [data]="statData" [total]="statTotal" [keys]="['salesDt','openCash','totalCash','totalCard','payTotal','totalPoint','totalMileage','issueMileage']"
            (OnPageChanged)="OnPageChanged($event)" [options]="{optionalBtn: true, btnContent: statBtn}" [blank]=false (OnButtonClicked)="goEndDetail($event)"  [won]="[false,true,true,true,true,false,false,false,false]" ></pos-table>
        </ion-col>
        <ion-col *ngIf="statType==6&&statFilter==0" >
          <pos-table #table [header]="['정산기간','PG수수료','차안수수료','거래건수합','거래총액','정산 총액','일반 수수료','무이자 수수료','일반 VAT','무이자 VAT', '상세보기']" [data]="statData" [total]="statTotal"[keys]="['settleBetween','pgRate','transRate','count','TotalAmt','totalDepositAmt','totalGeneralFee','totalNoIntFee', 'totalGeneralVat', 'totalNoIntVat']"
            (OnPageChanged)="OnPageChanged($event)" [options]="{optionalBtn: true, btnContent: statBtn}" [blank]=false (OnButtonClicked)="goSettleDetail($event)" [won]="[false,false,false,false,true,true,true,true,true,true]"></pos-table>
        </ion-col>
        <ion-col class="margin-col"></ion-col>

      </ion-row>

      <ion-row>
        <ion-col col-1></ion-col>
        <ion-col>
          <div class="filter-area">
            <div class="option-filter">
              <div *ngIf="statType==2" class="option-btns">
                <button (click)="goPayDelete()" type=""> <ion-icon name="cp-cancel-pay"></ion-icon>  결제취소</button>
                <button (click)="goPayModify()" type=""> <ion-icon name="cp-change-pay"></ion-icon>  결제수단변경</button>
                <button (click)="cashPrint()" type=""> <ion-icon name="cp-cash-print"></ion-icon> 현금영수증</button>
                <button (click)="receiptPrint()" type=""> <ion-icon name="cp-print"></ion-icon>  영수증출력</button>
              </div>
              <div *ngIf="statType==5" class="option-btns">
                <button (click)="endDelete()" type=""> <ion-icon name="cp-cancel-end"></ion-icon> 마감취소</button>
              </div>

            </div>
          </div>
        </ion-col>
        <ion-col col-1></ion-col>

      </ion-row>


    </ion-col>
  </ion-row>
</ion-content>
<div class="backdrop" *ngIf="showDatePicker">
  <material-datepicker *ngIf="selectDate" (showDatePicker)="showDatePickerChange($event)" (onSelect)="OnDataSelected($event)"
    [initialDate]="startDate"></material-datepicker>
  <material-datepicker *ngIf="!selectDate" (showDatePicker)="showDatePickerChange($event)" (onSelect)="OnDataSelected($event)"
    [initialDate]="endDate"></material-datepicker>
</div>