page-order-menu-list {
    .scroll-content{
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .fixed-content {
        margin: 57px 16px 40px 16px;
    }
    .left-content {
        position: relative;
        background-color: ivory;
        border: 5px solid white;
        max-height: 100%;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }

        .menu-item-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 8px 4px;

            .menu-item {
                position: relative;
                padding: 0px;
                flex-basis: 25%;

                .stock-warn {
                    position: absolute;
                    top: 5px;
                    left: 14px;
                    width: 35px;
                    height: auto;
                    z-index: 10099;
                }

                .stock-back-drop {
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    right: 5px;
                    bottom: 5px;
                    z-index: 100098;
                    background: rgba(black, 0.5);
                }

                .menu-item-inner {
                    position: relative;
                    margin: 5px;
                    padding: 5px;
                    background: white;
                    box-shadow: 5px 5px 18px 1px rgba(0, 0, 0, 0.08);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    font-size: 1.7rem;

                    .menu-image {
                        position: relative;
                        width: 90%;
                        height: 70%;
                        overflow: hidden;
                        margin: 0px auto;

                        img {
                            min-width: 100%;
                            min-height: 100%;
                            object-fit: cover;
                        }
                        .menu-price {
                            position: absolute;
                            z-index: 10;
                            bottom: 0;
                            right: 0;
                            background: linear-gradient(90deg, rgba(#f87f7c, 0.8), rgba(#df6974, 0.8));
                            color: white;
                            padding: 0.5vh 0.5vh;
                            
                        }
                    }
                    .menu-name {
                        text-align: center;
                    }
                }   
            }
        }
    }
}
