page-store-setting {
    .content{
        background-color: #F7F7F7;
        padding: 7rem 120px 0px 120px !important;
    }
    input[type="text"]:disabled {
        background: #d8d8d8 !important;
    }

    .manage-store-main {
        background: #f7f7f7;
        // padding: 60px 120px 0px 120px;
        height: 100%;

        ion-row {
            .store-category{
                border-left: 1px solid #c9d2da;
                height: 30px;
                font-size: 1.5rem;
                width: 15%;
                text-align: center;

                div {
                    display: table;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    margin-left: auto;
                    margin-right: auto;
                    color: #808285;
                    border-left: none;
                }

                .selectedCategory {
                    color: #fd6366;
                }
            }

            .rightest {
                border-right: 1px solid #c9d2da;
            }
        }

        .main-box {
            background: #e6e7e8;
            height: 78%;
            margin-top: 30px;
            border-radius: 20px;
            box-shadow: 3px 5px 5px #c9d2da;
            padding: 5rem 6rem 6rem 6rem;
            position: relative;
            .input-class1 {

                ion-row {
                    // width: 100%;
                    // padding: 50px 0px 40px 80px;

                    ion-col { // 칸나누깅
                        border: none;
                        margin: 0px 0px 50px 0px;
                        font-size: 1.4rem;
                        @media (max-width: 1366px) {
                            margin: 0px 0px 30px 0px;
                        }

                        div {
                            color: #b4b5b8;
                            padding: 0px;
                            margin: 0px 0px 10px 0px;
                            border: none;
                            text-align: left;
                            font-size: 1.5rem;
                            @media (max-width: 1366px) {
                                margin: 0px;
                                font-size: 1.5rem;
                            }
                        } // 칸이름

                        .radioGroup{
                            border: 1px solid #b4b5b8;
                            border-radius: 5px;
                            background: #f7f7f7;
                            padding: 10px 0px 10px 0px;
                            margin: 0px;
                            width: 90%;
                            text-align: center;

                            input[type="radio"] {
                                margin-top: -2px;
                                vertical-align: middle;
                            }

                            label {
                                color: #19456c;
                                font-size: 1.5rem;
                                margin-right: 6px;
                            }
                        }

                        #stampSavingType {
                            color: #19456c;
                            width: 90%;
                            background: #f7f7f7;
                            border: 1px solid #b4b5b8;
                            border-radius: 5px;
                            padding: 10px 0px 10px 20px;
                            font-size: 1.5rem;
                        }

                        #stampSavingType option {
                            width: 90%;
                            height: 55px;
                            font-size: 1.5rem;
                            border: 1px solid #b4b5b8;
                            @media (max-width: 1366px) {
                                width: 207px;
                                height: 50px;
                            }
                        }

                        input {
                            border: 1px solid #b4b5b8;
                            border-radius: 5px;
                            background: #f7f7f7;
                            font-size: 1.5rem;
                            padding: 10px 0px 10px 20px;
                            color: #19456c;
                        }

                        input::placeholder {
                            color: #19456c;
                        }

                        .long-input1 {
                            width: 95%;
                        }

                        .short-input1 {
                            width:90%;
                        }
                    }
                }
            }



            .input-class2 {
                
                ion-row {

                    ion-col { // 칸나누깅
                        border: none;
                        margin-bottom: 2rem;
                        font-size: 1.4rem;

                        .label {
                            color: #b4b5b8;
                            padding: 0px;
                            margin: 0px 0px 10px 0px;
                            border: none;
                            text-align: left;
                            border-left: none;
                            font-size: 1.5rem;
                            width: 100%;
                            @media (max-width: 1366px) {
                                font-size: 1.5rem;
                                margin: 0px;
                            }
                        } // 칸이름

                        pos-editor{
                            width:100%;
                            .editorForm{
                                background-color : #f7f7f7;
                                border: 1px solid #b4b5b8;
                            }
                            .ql-container{
                                border:none;
                            }
                            .ql-toolbar{
                                border-top:none;
                                border-left:none;
                                border-right:none;
                            }
                            .ql-editor {
                                font-size: 2rem;
                                height: 16rem;
                            }
                        }

                        .map-btn {
                            width: 80%;
                            background: #d8d8d8;
                            color: white;
                            border: 1px solid #b4b5b8;
                            border-radius: 5px;
                            padding: 10px 10px 10px 10px;

                            span {
                                display: table;
                                margin-left: auto;
                                margin-right: auto;
                            }
                        }

                        .inputs {
                            border: 1px solid #b4b5b8;
                            border-radius: 5px;
                            background: #f7f7f7;
                            font-size: 1.5rem;
                            padding: 10px 10px 10px 10px;
                            color: #19456c;
                        }

                        .inputs::placeholder {
                            color: #19456c;
                        }

                        textarea {
                            background: #f7f7f7;
                            color: #19456c;
                            font-size: 1.5rem;
                            border: 1px solid #b4b5b8;
                            border-radius: 5px;
                            width: 100%;
                            padding: 0px;
                        }  

                        .textarea2 {
                            width: 100%;
                            height: 95% !important;
                        }

                        .textarea3 {
                            width: 100%;
                            height: 140px !important;
                            @media (max-width: 1366px) {
                                height: 120px !important;
                            }
                        }


                        .long-input2 {
                            width:100%;
                        }

                        .short-input2 {
                            width: 80%;
                        }

                        .long-input2-1 {
                            width : 100%;
                            padding: 10px 10px 10px 10px;
                        }


                    }
                }                     
            }
        }


        .main-box2 {
            height: 692px;
            margin-top: 60px;
            @media (max-width: 1366px) {
                margin-top: 30px;
                height: 78%;
            }
            display: flex;
            flex-direction: row;
            justify-content: center;

            .left {
                position: relative;
                background: white;
                box-shadow: 2px 4px 4px #c9d2da;
                width: 55%;
                margin: 5px;

                ion-row {
                    width: 95%;
                    display: table;
                    margin-left: auto;
                    margin-right: auto;
                    height: 50px;
                    position: relative;
                    @media(max-width: 1366px) {
                        height: 30px;
                    }

                    div {
                        float: right;
                        height: 50px;
                        width: 50px;
                        margin: 0px;
                        color: #fd6366;
                        border: none;
                        @media (max-width: 1366px) {
                            margin: 15px 10px 15px 0px;
                            height: 30px;
                            width: 30px;
                        }

                        ion-icon {
                            margin-top: 15px;
                            margin-right: 10px;
                            @media(max-width: 1366px) {
                                margin-top: 10px;
                            }
                        }

                        ion-icon::before {
                            font-size: 2.3rem;
                        }
                    }
                    
                    ion-col {
                        img {
                            margin: 2%;
                            width: 28%;
                            max-height: 178px;
                        }
                    }
                }
                ion-row:nth-child(2){
                    ion-col:first-child{
                        img{
                            border : 3px solid #FAEB84;
                            
                        }
                    } 

                }

                .float-content {
                    position: absolute;
                    right: 20px;
                    bottom: 130px;
                    color: #19456c;
                    font-size: 2rem;
                    z-index: 5;
                    transform: translateX(140px);
                    @media (max-width: 1366px) {
                        bottom: 130px;
                        font-size: 2rem;
                        transform: translateX(100px);
                        right: 10px;
                    }

                    ion-icon {
                        margin: 20px;
                        @media (max-width: 1366px) {
                            margin: 15px;
                        }
                    }
                }



            }

            .right {
                background: white;
                box-shadow: 2px 4px 4px #c9d2da;
                width: 45%;
                margin: 5px;
                position: relative;
                
                .top {
                    height: 71%;
                    @media (max-width: 1366px) {
                        height: 69.5%;
                    }
        
                    .viewBox {
                        height: 89%; 
                        width: 90%;
                        display: table;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 70px;
                        background: #f1f2f2;
                        @media (max-width: 1366px) {
                            margin-top: 50px;
                            height: 83%;
                        }
                    
                        .view {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    .float-btn {
        position: absolute;
        bottom: 0px;
        right: -30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fd6366;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        font-size: 4rem;
        color: white;
        box-shadow: 4px 4px 15px 1px #808285;
        z-index: 5;

        span {
            margin-top: 5px;
            @media (max-width: 1366px) {
                margin-bottom: 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: rotate(0deg);
                transition: transform 0.5s;                            
            }
            
        }
    }

    .add-window {
        position: absolute;
        background: rgba(white,0.7);
        width: 100%;
        height: 100%;
        z-index: 3;
    }

    .store-box{
        background: #e6e7e8;
        height: 692px;
        border-radius: 20px;
        box-shadow: 3px 5px 5px #c9d2da;
        @media (max-width: 1366px) {
            margin-top: 30px;
            height: 78%;
        }
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content:center;

        .label{
            font-size: 1.5rem;
            color: #5e7d99; 
            position: relative;
            align-self: flex-start;
            left:-30px;
        }

        .items{
            display: flex;
            flex-direction: row;
            align-items:center;
            align-content:center;
            justify-content:center;
            padding: 3rem 0rem;

            .item-btns{
                display: flex;
                flex-direction: column;
                align-items:center;
                border-radius: 10px;
                font-size: 1.2rem;
            }
            .item-btns:nth-child(2){
                margin: 0rem 8rem;
            }

        }
    }

    .store-box1{
        padding:0rem 26rem;
        @media (max-width: 1366px) {
            padding:0rem 27rem;
            }
        .items{
            .item-btns{
                padding: 3rem 4rem;
                color: #184369;
                background-color: white;
                border: 1px #184369 solid;

                ion-icon{
                    margin-bottom: 1rem;
                }
                ion-icon::before{
                    font-size: 3rem;
                    margin-bottom: 1rem;
                }
            }
            .left{
                display: flex;
                align-self: flex-start;
            }
            .item-btns:nth-child(2){
                margin: 0rem 8rem;
            }
        }

    }

    .store-box2{
        padding:0rem 10rem;
        @media (max-width: 1366px) {
            padding:0rem 10rem;
            }
        
        .items{
            .item-btns{

                .check-img{
                    width: 20rem;
                    // box-shadow: 0px 10px 15px 0px rgba(50,50,50,0.7);
                    box-shadow: 7px 10px 28px -10px rgba(0,0,0,0.75);
                    border-radius: 10px;
                }
                .check-paytype{
                    font-size: 1.5rem;
                    margin-top: 3.1rem;
                    color: #BBBEBF;
                    display: flex;
                    flex-direction: row;
                    align-items:center;
                    check-box {
                        margin-right: 1rem;
                    }
                }
                .checked{
                    color: #F05161;
                    check-box {
                        color: #F05161;
                    }
                }
                
                .add-pay-type{
                    display: flex;
                    align-items:center;
                    justify-content: center;
                    text-align: center;
                    flex-direction: column;
                    border: 1px #fd6366 solid;
                    width: 242px;
                    height:154px;
                    border-radius: 10px;
                    // margin-bottom: 60px;
                    color: #fd6366;
                    font-size: 1.2rem;
                    z-index: 1;
                    @media (max-width: 1366px) {
                        width: 180px;
                        height: 114px;
                        }
                }

                .float-btn{
                    position: relative;
                    z-index: 50;
                    bottom: 30px;
                    left: 120px;
                    margin: 0;
                    @media (max-width: 1366px) {
                        bottom: 30px;
                        left: 90px;
                        }
                }
            }

            .item-btns:nth-child(2){
                margin: 0rem 8rem;
                @media (max-width: 1366px) {
                margin: 0rem 4rem;
                    }
            }
            .item-btns:nth-child(3){
                margin: 0rem 8rem 0rem 0rem;
                @media (max-width: 1366px) {
                    margin: 0rem 4rem 0rem 0rem;
                        }
                    
            }

        }

    }

    .main-box3 {
        height: 692px;
        margin-top: 60px;
        @media (max-width: 1366px) {
            margin-top: 30px;
            height: 78%;
        }
        display: flex;
        flex-direction: row;
        justify-content: center;

        .left{
            background: white;
            box-shadow: 2px 4px 4px #c9d2da;                
            width: 50%;
            margin: 5px;
            box-shadow: none;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            div {
                width: 100%;
                height: 50%;
                margin: 0px;
                box-shadow: none;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .cardImg{
                    width: 35rem;
                }
                .stampSet{
                    background-color: #F8F8F8;
                    color: #939598;
                    width: 35rem;
                    min-height: 12rem; 
                    height: 12rem;
                    max-height: 12rem; 
                    // line-height: 1.3em;
                    border: 1.5rem #F8F8F8 solid ;
                    margin-top: 3rem;
                    border-radius: 10px;
                    font-size: 1.8rem;
                    display: -webkit-box;
                    -webkit-line-clamp: 4; /* 라인수 */
                    overflow: hidden;
                    // -webkit-box-orient: vertical;
                    // word-wrap:break-word; 


                }
            }

        }

        .right {
            background: white;
            box-shadow: 2px 4px 4px #c9d2da;                
            width: 50%;
            margin: 5px;
            position: relative;

            // div {
            //     width: 100%;
            //     height: 50%;
            //     margin: 0px;
            //     box-shadow: none;
            //     position: relative;
            // }

            .input-ratio-box {
                height: 79.5%;
                ion-col {
                    height: 100%;

                    div {
                        border: none;
                        position: relative;
                        top: 25%;

                        .ratio-title {
                            height: 10%;
                            margin-bottom: 30px;
                            display: flex;
                            align-items: baseline;
                            justify-content: center;

                            ion-icon {
                                color: #19456c;
                                margin-right: 10px;
                                transform: translateY(6px);
                                @media(max-width: 1366px) {
                                    transform: translateY(4px);
                                }
                            }

                            ion-icon::before {
                                font-size: 2rem;
                            }

                            span {
                                color: #19456c;
                                font-size: 1.3rem;
                            }
                        }
                        
                        .save-ratio {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            
                            div {
                                background: #e6e6e6;
                                border: 1px solid #cbcdce;
                                width: 5rem;
                                height: 5rem;
                                top: 0%;

                                numpad-input2 {
                                    div {
                                        border: none;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                    }
                                }
                            }

                            .plus-minus {
                                background: white;
                                font-size: 2.5rem;
                                color: #5e7d99; 
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }

            }

            .input-ratio-box2 {
                height: 79.5%;
                margin-bottom: 20px;
                
                div {
                    width: 85%;
                    height: 90%;
                    display: table;
                    margin-left: auto;
                    margin-right: auto;
                    border: none !important;
                    margin-top: 20px;
                    position: relative;
                    @media(max-width: 1366px) {
                        margin-top: 40px;
                    }

                    .float-btn2 {
                        position: absolute;
                        bottom: -50px;
                        right: -30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #fd6366;
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        font-size: 4rem;
                        color: white;
                        margin-bottom: 60px;
                        box-shadow: 4px 4px 15px 1px #808285;
                        z-index: 5;
                        @media (max-width: 1366px) {
                            font-size: 3rem;
                            right: -25px;
                            bottom: 10px;
                            width: 55px;
                            height: 55px;
                            margin-bottom: 30px;
                        }

                        span {
                            margin-top: 5px;
                            @media (max-width: 1366px) {
                                margin-bottom: 0px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                transform: rotate(0deg);
                                transition: transform 0.5s;                            
                            }
                            
                        }
                    }

                    ion-row {
                        width: 100%;
                        height: 75px;
                        line-height: 75px;
                        @media(max-width: 1366px) {
                            height: 55px;
                            line-height: 55px;
                        }
                    }

                    .item-th {
                        color: #19456c;
                        text-align: left;
                        border-bottom: 2px solid #d1d3d4;
                        text-align: center;
                        @media(max-width: 1366px) {
                            height: 45px;
                            line-height: 45px;
                        }
                    }
                    ion-scroll{
                        .scroll-content{
                            padding:0 !important;
                            width: 100%;
                            margin:0 !important;
                        }
                        .scroll-zoom-wrapper{
                            padding:0;
                            margin:0;
                            width: 100%;
                        }
                    }

                    .item-tr-container{
                        padding:0;
                        margin:0;
                        width: 100%;
                        height: 40vh !important;
                        max-height: 40vh !important;
                        min-height: 40vh !important;
                        overflow: scroll !important;
                        .item-tr {
                            text-align: center;
                            border-bottom: 2px solid #eaebec;
                            background: #f8f8f8;
                            color: #939598;
                            
                            .bin {
                                color: #fd6366;

                                ion-icon {
                                    margin-top: 20px;
                                    @media(max-width: 1366px) {
                                        margin-top: 15px;
                                    }
                                }

                                ion-icon::before {
                                    font-size: 2.2rem;
                                }
                            }
                        }

                    }


                }

                .stamp-box {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    text-align: center;
                    line-height: 60px;    
                    margin: -15px 0px 0px -15px !important;
                    background: none;
                    @media (max-width: 1366px) {
                        line-height: 40px;
                        transform: translateX(10px);
                        margin: -10px 0px 0px -15px !important;
                    }

                    div {
                        background: #e6e6e6;
                        border: 1px solid #cbcdce !important;
                        flex: unset; //원래 있었어
                        width: 60px;
                        height: 60px;
                        top: 30%;
                        margin: 0px !important;
                        @media (max-width: 1366px) {
                            width: 40px;
                            height: 40px;
                        }
                    }

                    .plus-minus {
                        background: white;
                        flex: unset;
                        font-size: 2.5rem;
                        color: #5e7d99; 
                    }                    
                }
            }
        }
     
    }
    .okay-background {
        position: absolute;
        bottom : 30px;
        left: 50%;
        transform: translateX(-50%);
        .okay {
            font-size: 1.7rem;
            color: white;
            background: #fd6366;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            border-radius: 15px;
            padding:1.8rem;
            width: 20rem;
            
            @media (max-width: 1366px) {
                font-size: 1.5rem;
                // margin-top: 20px;
            }
                        
        }
    }

    .search-box {
        box-shadow: 5px 3px 5px 2px rgba(214, 214, 214, 0.5) !important;
        background-color: white;
        height: 4rem;
        width: 28rem;
        .text-input {
          width: 100%;
          margin: 0;
          border: 0px solid black;
          border-radius: 0;
          height: 100%;
          margin: 0rem 1rem;
        }
        .button {
          margin: 0;
          font-size: 1.5rem;
          height: 100%;
            
        }
      }

    .select-box-container {

        width: 100%;
        height: 50px;
        position: relative;
        border-radius: 2px;
        width:14rem;
        @media (max-width: 1366px) {
            width:12rem;
            height:40px;                   
            }
        .select-box {
            line-height: 50px;
            height: 50px;
            width: 100%;
            padding-left: 15px;
            color: #606062;
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjIuNSAxMS44IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyMi41IDExLjg7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPi5zdDB7ZmlsbDpub25lO3N0cm9rZTojMTk0NTZEO3N0cm9rZS13aWR0aDoyO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9PC9zdHlsZT48cG9seWxpbmUgaWQ9IlhNTElEXzU0XyIgY2xhc3M9InN0MCIgcG9pbnRzPSIyMS40LDEuMiAxNi4zLDUuOSAxMS4zLDEwLjUgNi4yLDUuOSAxLjEsMS4yICIvPjwvc3ZnPg==) no-repeat 90% 50%;
            background-size: 15%;
            background-color: #F0F2F2;
            border: 1px #a7a9ac solid;
            appearance: none;
            border-radius: 2px;
            @media (max-width: 1366px) {
                height:40px; 
                line-height: 40px;
                margin-top: .6rem;
                }

        }
        .options {
            position: absolute;
            width: calc(100% + 1px);
            margin-left: 50%;
            transform: translateX(-50%);
            background: #a8a9ad;
            border: 0px 3px 0px 3px #a8a9ad solid;
            z-index: 999999;
            color: white;

            .item {
                height: 40px;
                line-height: 40px;
                border-bottom: 1px #f4f4f5 solid;
                padding-left: 15px;
                @media (max-width: 1366px) {
                    height:32px;
                    line-height: 32px;
                }
            }
        }
    }
    .noSearchBox{
        padding-top: 11rem;
    }

    pos-table4{
        margin-top: 4rem;
    }
}