<ion-content padding>
  <ion-row>
    <ion-col col-1 class="side-tab">
      <div class="item" (click)="clickSideTab(1)" [ngClass]="{'selected': whichsideTab ==1}">
        <ion-icon name="cp-home1"></ion-icon> 매장관리
      </div>
      <!-- <div class="item" (click)="clickSideTab(2)" [ngClass]="{'selected': whichsideTab ==2}">
        <ion-icon name="cp-setting"></ion-icon> 시스템 설정
      </div> -->
      <div class="item" (click)="clickSideTab(2)" [ngClass]="{'selected': whichsideTab ==2}">
        <ion-icon name="cp-id"></ion-icon> 고객혜택
      </div>
      <div class="item" (click)="clickSideTab(3)" [ngClass]="{'selected': whichsideTab ==3}">
        <ion-icon name="cp-notice"></ion-icon> 공지사항
      </div>
      <!-- <div class="item" (click)="clickSideTab(4)" [ngClass]="{'selected': whichsideTab ==4}">
        <ion-icon name="cp-faq"></ion-icon> FAQ
      </div> -->
      <div class="item" (click)="clickSideTab(5)" [ngClass]="{'selected': whichsideTab ==5}">
        <ion-icon name="cp-setting"></ion-icon> 매장속성
      </div>
    </ion-col>
    <ion-col class="content" col-15 *ngIf="whichsideTab==1">
      <div class="manage-store-main">
        <ion-row>
          <div class="store-category" (click)="clickCategory(1)">
            <div [ngClass]="{'selectedCategory': whichCategory==1}">기본 설정</div>
          </div>
          <div class="store-category" (click)="clickCategory(2)">
            <div [ngClass]="{'selectedCategory': whichCategory==2}">위치 정보</div>
          </div>
          <div class="store-category" (click)="clickCategory(3)">
            <div [ngClass]="{'selectedCategory': whichCategory==3}">홍보 정보</div>
          </div>
          <div class="store-category" (click)="clickCategory(4)">
            <div [ngClass]="{'selectedCategory': whichCategory==4}">기타 정보</div>
          </div>
          <div class="store-category" (click)="clickCategory(5)">
            <div [ngClass]="{'selectedCategory': whichCategory==5}">매장사진 설정</div>
          </div>
        </ion-row>
        <ng-container *ngIf="whichCategory==1">
          <div class="main-box">
            <div class="input-class1">
              <ion-row>
                <ion-col col-6>
                  <div class="label">상호</div>
                  <input class="inputs long-input1" type="" size="22" [(ngModel)]="storeInfo.storeDispName" />
                </ion-col>
                <ion-col col-5>
                  <div class="label">서비스 상태</div>
                  <div class="radioGroup">
                    <input type="radio" id="serviceStatus" name="serviceStatus" [(ngModel)]="storeInfo.serviceStatus" value=2>
                    <label for="serviceStatus">{{serviceStatus[2]}}</label> &nbsp;
                    <input type="radio" id="serviceStatus2" name="serviceStatus" [(ngModel)]="storeInfo.serviceStatus" value=3>
                    <label for="serviceStatus2">{{serviceStatus[3]}}</label>
                  </div>
                </ion-col>
                <ion-col col-5>
                  <div class="label">저장 일시</div>
                  <input class="inputs short-input1" type="text" name="" size="12" placeholder="{{calDate(storeInfo.approvalDt)}}" disabled/>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>
                  <div class="label">대표 전화 번호</div>
                  <input class="inputs long-input1" type="" size="22" [(ngModel)]="storeInfo.tel" />
                </ion-col>
                <ion-col col-5>
                  <div class="label">POS 유형</div>
                  <select id="stampSavingType" name="stampSavingType" [(ngModel)]="storeInfo.posType">
                    <option value=1>{{posType[1]}}</option>
                    <option value=2>{{posType[2]}}</option>
                  </select>
                </ion-col>
                <ion-col col-5>
                  <div class="label">고객 혜택선택</div>
                  <select id="stampSavingType" name="mileageNStamp" [(ngModel)]="storeInfo.mileageStampOpt">
                    <option value=1>{{mileageNStamp[1]}}</option>
                    <option value=2>{{mileageNStamp[2]}}</option>
                  </select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>
                  <div class="label">사업장 명</div>
                  <input class="inputs long-input1" type="text" size="22" [(ngModel)]="storeInfo.storeName" />
                </ion-col>
                <ion-col col-5>
                  <div class="label">사업자 등록번호</div>
                  <input class="inputs short-input1" type="text" size="12" [(ngModel)]="storeInfo.storeID" disabled/>
                </ion-col>
                <ion-col col-5>
                  <div class="label">대표자 명</div>
                  <input class="inputs short-input1" type="text" size="12" [(ngModel)]="storeInfo.ceoName" disabled/>
                </ion-col>
              </ion-row>
            </div>
            <div class="okay-background">
              <div>
                <span class="okay" (click)="modifyStoreInfo()">저장</span>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="whichCategory==2">
          <div class="main-box">
            <div class="input-class2">
              <ion-row>
                <ion-col col-4>
                  <div class="label">우편 번호(5자리)</div>
                  <input class="inputs short-input2" type="" size="12" [(ngModel)]="storeInfo.zipcode" />
                </ion-col>
                <ion-col col-12>
                  <div class="label">도로명 주소</div>
                  <input class="inputs long-input2" type="" size="41" [(ngModel)]="storeInfo.addr1" />
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-4>
                  <div class="label">매장 위치 설정</div>
                  <div class="map-btn" (click)="openMap()">
                    <span>지도 보기</span>
                  </div>
                </ion-col>
                <ion-col col-12>
                  <div class="label">지번 주소</div>
                  <input class="inputs long-input2" type="" size="41" [(ngModel)]="storeInfo.addr2" />
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div class="label">찾아오시는 길</div>
                  <textarea class="textarea2" [(ngModel)]="storeInfo.directions"></textarea>
                </ion-col>
              </ion-row>
            </div>
            <div class="okay-background">
              <div>
                <span class="okay" (click)="modifyStoreInfo()">저장</span>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="whichCategory==3">
          <div class="main-box">
            <div class="input-class2">
              <ion-row>
                <ion-col>
                  <div class="label">캠페인 문구</div>
                  <input class="inputs long-input2-1" type="" size="57" [(ngModel)]="storeInfo.campaignText" />
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div class="label">매장 소개 및 메뉴 안내</div>
                  <pos-editor [location]="'storeTxt'" [text]="storeInfo.storeText" [buttonClicked]="sendButtun" (OnButtonClicked)="getContentsData($event)">
                  </pos-editor>
                </ion-col>
              </ion-row>

            </div>
            <div class="okay-background">
              <div>
                <span class="okay" (click)="modifyStoreInfo()">저장</span>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="whichCategory==4">
          <div class="main-box">
            <div class="input-class2">
              <ion-row>
                <ion-col>
                  <div class="label">회원 혜택</div>
                  <textarea [(ngModel)]="storeInfo.membershipText"></textarea>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div class="label">매장 서비스 타임</div>
                  <textarea [(ngModel)]="storeInfo.serviceTimeText"></textarea>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div class="label">주차 안내</div>
                  <textarea [(ngModel)]="storeInfo.parking"></textarea>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div class="label">해쉬태그</div>
                  <textarea [(ngModel)]="storeInfo.hashTag"></textarea>
                </ion-col>
              </ion-row>
            </div>
            <div class="okay-background">
              <div>
                <span class="okay" (click)="modifyStoreInfo()">저장</span>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="whichCategory==5">
          <div class="main-box2">
            <div class="left">
              <ion-row>
                <div (click)="deletePicture()">
                  <ion-icon name="cp-delete"></ion-icon>
                </div>
              </ion-row>
              <ion-row>
                <ion-col [attr.value]="i" *ngFor="let i of [0, 1, 2]">
                  <img [attr.value]="i" [src]="image[i]==null?'assets/images/store_setting/default-picture.png':image[i].url" (click)="selectPic(i)"
                  />
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col [attr.value]="i" *ngFor="let i of [3, 4, 5]">
                  <img [attr.value]="i" [src]="image[i]==null?'assets/images/store_setting/default-picture.png':image[i].url" (click)="selectPic(i)"
                  />
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col [attr.value]="i" *ngFor="let i of [6, 7, 8]">
                  <img [attr.value]="i" [src]="image[i]==null?'assets/images/store_setting/default-picture.png':image[i].url" (click)="selectPic(i)"
                  />
                </ion-col>
              </ion-row>
              <ion-row>
              </ion-row>
              <div class="float-content" *ngIf="addPicture == true">
                <div (click)="takepic(true)">
                  <ion-icon name="camera"></ion-icon>사진 찍기
                </div>
                <div (click)="getpic(true)">
                  <ion-icon name="image"></ion-icon>앨범에서 선택
                </div>
              </div>
              <div class="float-btn" (click)="addPicture = !addPicture">
                <span>+</span>
              </div>
            </div>
            <div class="right">
              <div class="top">
                <div class="viewBox">
                  <img class="view" [src]="imageView==''?'assets/images/store_setting/view-default.png':imageView" />
                </div>
              </div>
              <div class="okay-background">
                <div>
                  <span class="okay" (click)="modifyPic()">저장</span>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <!-- <ng-container *ngIf="whichCategory==6">
          <div class="main-box3">
            <div class="left">
              <div *ngIf="selectedMembership==1">
                <img class="cardImg" src="assets/images/pay/mileage.png">
              </div>
              <div *ngIf="selectedMembership==2">
                <img class="cardImg" src="assets/images/pay/stemp.png">
                <div class="stampSet" (click)="goStampSet()">{{stampText}}</div>
              </div>
            </div>
            <div>
              <ng-container *ngIf="selectedMembership==1">
                <ion-row class="input-ratio-box">
                  <ion-col col-2>
                  </ion-col>
                  <ion-col col-6>
                    <div>
                      <div class="ratio-title">
                        <ion-icon name="cp-cash"></ion-icon>
                        <span>현금 결제 시 적립율</span>
                      </div>
                      <div class="save-ratio">
                        <div class="plus-minus" (click)="cash_pm('-')"> - </div>
                        <div>
                          <numpad-input2 [(value)]="storeInfo.mileageSaveCash"></numpad-input2>
                        </div>
                        <div class="plus-minus" (click)="cash_pm('+')">+</div>
                      </div>
                    </div>
                  </ion-col>
                  <ion-col col-6>
                    <div>
                      <div class="ratio-title">
                        <ion-icon name="cp-card"></ion-icon>
                        <span>카드 결제 시 적립율</span>
                      </div>
                      <div class="save-ratio">
                        <div class="plus-minus" (click)="card_pm('-')"> - </div>
                        <div>
                          <numpad-input2 [(value)]="storeInfo.mileageSaveCard"></numpad-input2>
                        </div>
                        <div class="plus-minus" (click)="card_pm('+')">+</div>
                      </div>
                    </div>
                  </ion-col>
                  <ion-col col-2>
                  </ion-col>
                </ion-row>
                <ion-row class="okay-background">
                  <div>
                    <span class="okay" (click)="modifyStoreInfo()">저장</span>
                  </div>
                </ion-row>
              </ng-container>
              <ng-container *ngIf="selectedMembership==2">
                <ion-row class="input-ratio-box2">
                  <div >
                    <div class="float-btn2" (click)="addPicture = !addPicture">
                      <span>+</span>
                    </div>
                    <h1 (click)="openMileageComponent = !openMileageComponent">컴포넌트 테스트</h1>
                    <ion-row class="item-th">
                      <ion-col col-2>
                      </ion-col>
                      <ion-col col-6>
                        스탬프 개수
                      </ion-col>
                      <ion-col col-6>
                        교환상품 설정
                      </ion-col>
                      <ion-col col-2>
                      </ion-col>
                    </ion-row>
                    <ion-scroll scrollY="true" class="item-tr-container"> 
                    <ion-row class="item-tr" *ngFor="let item of stampAttr ;let idx = index;">
                      <ion-col col-2>
                        {{idx}}
                      </ion-col>
                      <ion-col col-6>
                        {{item.stampUnit}}
                        <div class="stamp-box">
                          <div class="plus-minus" (click)="stamp_pm(1, '-')">-</div>
                          <div>{{stamp1}}</div>
                          <div class="plus-minus" (click)="stamp_pm(1, '+')">+</div>
                        </div>
                      </ion-col>
                      <ion-col col-6>
                        {{item.exchangeText}}
                        <select id="service-item" name="service-item">        
                          <option value=0>교환상품</option>
                          <option value=1>맥주</option>
                          <option value=2>아이스크림</option>
                        </select>
                      </ion-col>
                      <ion-col col-2 class="bin">
                        <ion-icon name="cp-delete"></ion-icon>
                      </ion-col>
                    </ion-row>
                    <ion-row class="item-tr" [hidden]="stampAttr.length>5">
                      </ion-row>
                      <ion-row class="item-tr" [hidden]="stampAttr.length>4">
                      </ion-row>
                      <ion-row class="item-tr" [hidden]="stampAttr.length>3">
                      </ion-row>
                    </ion-scroll>
                  </div>
                </ion-row>
                <ion-row class="okay-background">
                  <div>
                    <span class="okay" (click)="modifyStoreInfo()">저장</span>
                  </div>
                </ion-row>
              </ng-container>
            </div>
          </div>
        </ng-container> -->
      </div>
    </ion-col>
    <ion-col class="content noSearchBox" col-15 *ngIf="whichsideTab==2">
      <div class="main-box3">
        <div class="left">
          <div *ngIf="selectedMembership==1">
            <img class="cardImg" src="assets/images/pay/mileage.png">
          </div>
          <div *ngIf="selectedMembership==2">
            <img class="cardImg" src="assets/images/pay/stamp.png">
            <div class="stampSet" (click)="goStampSet()">{{stampText}}</div>
          </div>
        </div>
        <div class="right">
          <ng-container *ngIf="selectedMembership==1">
            <ion-row class="input-ratio-box">
              <ion-col col-2>
              </ion-col>
              <ion-col col-6>
                <div>
                  <div class="ratio-title">
                    <ion-icon name="cp-card"></ion-icon>
                    <span>카드 결제 시 적립율</span>
                  </div>
                  <div class="save-ratio">
                    <div class="plus-minus" (click)="card_pm('-')"> - </div>
                    <div>
                      <numpad-input2 [(value)]="storeInfo.mileageSaveCard"></numpad-input2>
                    </div>
                    <div class="plus-minus" (click)="card_pm('+')">+</div>
                  </div>
                </div>
              </ion-col>
              <ion-col col-6>
                <div>
                  <div class="ratio-title">
                    <ion-icon name="cp-cash"></ion-icon>
                    <span>현금 결제 시 적립율</span>
                  </div>
                  <div class="save-ratio">
                    <div class="plus-minus" (click)="cash_pm('-')"> - </div>
                    <div>
                      <numpad-input2 [(value)]="storeInfo.mileageSaveCash"></numpad-input2>
                    </div>
                    <div class="plus-minus" (click)="cash_pm('+')">+</div>
                  </div>
                </div>
              </ion-col>
              <ion-col col-2>
              </ion-col>
            </ion-row>
            <div class="okay-background">
              <div>
                <span class="okay" (click)="modifyStoreInfo()">저장</span>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="selectedMembership==2">
            <ion-row class="input-ratio-box2">
              <div>
                <div class="float-btn2" (click)="goStampAttr()">
                  <span>+</span>
                </div>
                <ion-row class="item-th">
                  <ion-col col-2>
                  </ion-col>
                  <ion-col col-6>
                    스탬프 개수
                  </ion-col>
                  <ion-col col-6>
                    교환상품 설정
                  </ion-col>
                  <ion-col col-2>
                  </ion-col>
                </ion-row>
                <ion-scroll scrollY="true" class="item-tr-container">
                  <ion-row class="item-tr" *ngFor="let item of stampAttr ;let idx = index;" >
                    <ion-col col-2 (click)="goStampAttr(item)">
                      {{(idx+1)}}
                    </ion-col>
                    <ion-col col-6 (click)="goStampAttr(item)">
                      {{item.stampUnit}}
                    </ion-col>
                    <ion-col col-6 (click)="goStampAttr(item)">
                      {{item.exchangeText}}
                    </ion-col>
                    <ion-col col-2 class="bin" (click)="deleteStampAttr(item)">
                      <ion-icon name="cp-delete"></ion-icon>
                    </ion-col>
                  </ion-row>
                  <ion-row class="item-tr" [hidden]="stampAttr.length>5">
                  </ion-row>
                  <ion-row class="item-tr" [hidden]="stampAttr.length>4">
                  </ion-row>
                  <ion-row class="item-tr" [hidden]="stampAttr.length>3">
                  </ion-row>
                </ion-scroll>
              </div>
            </ion-row>
            <div class="okay-background">
              <div>
                <span class="okay" (click)="modifyStoreInfo()">저장</span>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ion-col>
    <!-- <ion-col class="content " col-15 *ngIf="whichsideTab==2">
      <div class="store-box store-box2">
        <div class="label"> 1.사용하실 포스기 유형을 선택해 주세요</div>
        <div class="items">
          <div class="select-box-container">
            <div class="select-box" (click)="showDrop = !showDrop">
              <ng-container *ngIf="posType.length > 0">
                {{posType[selectedPosTypeIdx]}}
              </ng-container>
            </div>
            <div class="options" *ngIf="showDrop">
              <div class="item" (click)="selectedFilter(1,i)">
                {{posType[1]}}
              </div>
              <div class="item" (click)="selectedFilter(1,i)">
                {{posType[2]}}
              </div>
            </div>
          </div>

        </div>
        <div class="label"> 2.결제수단을 등록해주세요.</div>
        <div class="items">
          <div class="item-btns">
            <img class="check-img" src="assets/images/pay/choose-cash.png" />
            <div class="check-paytype" [ngClass]="{'checked': payType.cash}">
              <check-box [(checked)]="payType.cash" [checkColor]="'red'" [unCheckColor]="'deepgray'"></check-box> 현금</div>
          </div>
          <div class="item-btns">
            <img class="check-img" src="assets/images/pay/choose-card.png" />
            <div class="check-paytype" [ngClass]="{'checked': payType.card}">
              <check-box [(checked)]="payType.card" [checkColor]="'red'" [unCheckColor]="'deepgray'"></check-box> 카드</div>
          </div>
          <div class="item-btns">
            <img class="check-img" src="assets/images/pay/choose-hgu.png" />
            <div class="check-paytype" [ngClass]="{'checked': payType.hgu}">
              <check-box [(checked)]="payType.hgu" [checkColor]="'red'" [unCheckColor]="'deepgray'"></check-box> 푸드포인트</div>
          </div>
          <div class="item-btns">
            <div class="add-pay-type"> 결제수단을 추가해주세요.</div>
            <div class="float-btn">
              <span>+</span>
            </div>
          </div>
        </div>
      </div>
    </ion-col> -->
    <ion-col class="content" col-15 *ngIf="whichsideTab==3">
      <ion-row class="search-box">
        <ion-input placeholder="제목 또는 내용 검색" [(ngModel)]="search"></ion-input>
        <ion-buttons (click)="getNotice()" item-right>
          <button color="danger" ion-button icon-only clear>
            <ion-icon name="md-search"></ion-icon>
          </button>
        </ion-buttons>
      </ion-row>
      <pos-table2 #table [header]="['번호','제목', '작성일']" [data]="data" [keys]="['noticeNo','noticeTitle','regDttm']" [listDetail]="'noticeText'"
        (OnPageChanged)="OnPageChanged()" [total]="total"></pos-table2>
    </ion-col>
    <ion-col class="content" col-15 *ngIf="whichsideTab==4">
      <ion-row class="search-box">
        <ion-input></ion-input>
        <ion-buttons item-right>
          <button color="danger" ion-button icon-only clear>
            <ion-icon name="md-search"></ion-icon>
          </button>
        </ion-buttons>
      </ion-row>
      <pos-table2 #table [header]="['분류','자주 묻는 질문']" [data]="noticeData1" [keys]="['faqCategory','faqTitle']" [listDetail]="'faqTxt'"
        (OnPageChanged)="OnPageChanged()" [total]="total"></pos-table2>
    </ion-col>
    <ion-col class="content noSearchBox" col-15 *ngIf="whichsideTab==5">
      <pos-table4 #table [header]="['번호','분류명', '사용유무', '비고']" [data]="data" [keys]="['codeName','useYN', 'detailCode']" (OnButtonClicked)="toggle($event)"></pos-table4>
    </ion-col>
  </ion-row>
  <ion-row class="add-window" *ngIf="addPicture == true">
  </ion-row>
</ion-content>